[2020-03-12 19:56] jmcmurry opened #1 "I need someone to help with this referencing of USA score 42/100"
<img width="703" alt="Screen Shot 2020-03-12 at 12 55 08 PM" src="https://user-images.githubusercontent.com/3658863/76561548-c2705080-6460-11ea-9fd8-a35c16a1ad04.png">

[2020-03-12 20:44] jmcmurry opened #2 "Farr's law question from concerned citizen"
From a friend
"
Question to please address (maybe you already have, i haven't had time to thoroughly read your site yet)....

Farr's Law. A paramedic friend in SC (who seems to be too much in the "everything is gonna be fine" camp) mentioned it.

Seems to my layperson mind that there isn't enough data to assume that Covid will follow Farr's timeline......

.....but I'm asking you, how does / doesn

[2020-03-12 21:02] mandie722 commented on #1
Page 303 of this report https://www.ghsindex.org/wp-content/uploads/2019/10/2019-Global-Health-Security-Index.pdf has the United States with an overall index score of 83.5 which places them as first out of 195 countries.  I'm not sure where the 42 comes from.

[2020-03-12 22:15] monicacecilia commented on #1
I just saw this response on the SoT google doc:
![Screen Shot 2020-03-12 at 3 14 03 PM](https://user-images.githubusercontent.com/1714621/76571187-251f1780-6474-11ea-9413-0fb994996e5b.png)
I agree with here and I think it solves the issue.
Tanks, @jmcmurry - you can close.

[2020-03-13 13:55] nditada opened #3 "Upload images and fix references in markdowns"
I'm starting to split and upload the content, but I'l leaving the images as they were converted by pandoc.

We need to download the images from the live site, upload them to this repo and fix the markdowns.

[2020-03-13 15:54] Noir- opened #4 "Alternative, privacy friendly software suggestions for collaboration"
Vendors like Google and Microsoft might not be the one who should be promoted even further. (monopolists, privacy, questionable business practices etc. you name it)

Here are some alternatives:
- Collaborative Docs/Files:
  - Cryptpad: https://cryptpad.fr
  - Onlyoffice (Free for educational and non-profit users) : https://www.onlyoffice.com/
  - Nextcloud with Plugins (Basically free Onlyoffice):

[2020-03-13 16:12] #3 closed

[2020-03-13 16:57] nditada opened #5 "Setup google analytics"
[code]
cc @seancv

[2020-03-13 18:30] monicacecilia opened #6 "Update ALL CAPS to Sentence case"
For the headers for each of the Dos and Don'ts
- [ ] ALL CAPPS should be replaced with Sentence Case

It makes it easier to read generally, but especially for people with visual disabilities. And Text-to-Voice software also deals better with Sentence cases (I've been told).

[2020-03-13 18:32] jkicillof commented on #6
Sentence case please

[2020-03-13 18:33] monicacecilia opened #7 "Remove CSS code currently visible under some figures"
There's a chunk of code visible under the table in the "DO NOT GO TO THE DOCTOR WITHOUT CALLING AHEAD...." and next to and under Julie's picture.

[2020-03-13 18:33] jkicillof opened #8 "Convert pictures to text"
For a11y purposes, all text images with no charts will be converted to text and styled with css.

Image examples:
![image](https://user-images.githubusercontent.com/5031636/76649656-e6569380-653f-11ea-9878-82c9969a38fc.png)
![image](https://user-images.githubusercontent.com/5031636/76649687-f2daec00-653f-11ea-85b9-328a02187ecd.png)
![image](https://user-images.githubusercontent.com/5031636/7664970

[2020-03-13 18:35] monicacecilia opened #9 "Fix Titles for Don'ts and Julie's Bio"
- [x] Fix color for background and text: starting with the title "DO NOT SHAKE HANDS..." the red background and white font are gone.
- [x] Fix Title for Julie's bio "About the author:" header is not correctly configured and has an additional curly bracket.

[2020-03-13 18:38] mmuller opened #10 "Images details are not hidden"
![image (22)](https://user-images.githubusercontent.com/518152/76650020-8dd3c600-6540-11ea-9741-0bd8b5874a32.png)

![image (23)](https://user-images.githubusercontent.com/518152/76650056-988e5b00-6540-11ea-929c-55d0a7927fbe.png)

[2020-03-13 20:01] monicacecilia commented on #9
Fixed. You can close.

[2020-03-13 20:01] #5 closed

[2020-03-13 20:02] monicacecilia commented on #9
Ack! sorry. Julie's Bio still needs to be fixed.

[2020-03-13 20:03] danimiba commented on #7
This is the same as https://github.com/flattenthecurve/guide/issues/10
I propose to close this and continue in the other one as it has image examples.

[2020-03-13 20:13] danimiba commented on #10
Julie's picture visible code appears to be solved in 74a140050a3df835bb21b087408839bafbde43ed

[2020-03-13 20:14] danimiba commented on #9
Hi @monicacecilia, could you please take a screenshot of the issue? I can't seem to find it

[2020-03-13 20:45] waj commented on #10
Fixed in 19dca3602507ad49de906189de90196a46706cb1

[2020-03-13 20:45] #10 closed

[2020-03-13 20:55] danimiba commented on #8
### First image:

### Second image:

[2020-03-13 21:06] waj commented on #6
Fixed in df50ec106e83372cb22ec5754b6ab4c6f209d83d

[2020-03-13 21:06] #6 closed

[2020-03-13 21:06] #7 closed

[2020-03-13 21:19] nditada opened #11 "Unfurl for Spanish link is showing English snippet"

[2020-03-13 21:28] nditada opened #12 "Guide for translating content"
We need to start onboarding translators to other languages and it'll be key to have a simple guide on how to register with lokalise, how to get the required permissions and how to go about translating content.

[2020-03-13 21:35] nditada opened #13 "RFC: setting up intercom"
Would it be to nuts to setup intercom? We won't be able to respond individual questions, but collecting feedback could help inform what content is needed, what is not clear, etc.

We could also setup automated responses using the chatbot feature.

[2020-03-13 21:41] nditada commented on #13
@steesdale what do you think about this?

[2020-03-13 21:46] nditada commented on #9
Here @danimiba:
<img width="1148" alt="Screen Shot 2020-03-13 at 6 43 59 PM" src="https://user-images.githubusercontent.com/1359189/76661625-a650da00-655a-11ea-9e99-377b76e30a0b.png">

[2020-03-13 21:53] nditada opened #14 "The newsletter link is gone in the Spanish version"
@seancv can you add the details here?

[2020-03-13 21:55] monicacecilia commented on #9
Dear @danimiba - I see that this is fixed. Thanks!

[2020-03-13 21:55] seancv commented on #14
Noticias: Hemos creado un boletín informativo para ayudar a mantenernos al día con los acontecimientos relacionados con COVID19 y los esfuerzos que todos están haciendo para #AplanarLaCurva. Presiona este vínculo  para registrarte (nada de correo spam, nada de publicidad, etc. ¡Y es gratuito!).

Newsletter link: https://flattenthecurve.substack.com

Note: I do not know which words say "you can sig

[2020-03-13 22:24] nditada opened #15 "Symptoms in children"
There was a recent test in Germany that hasn’t been peer-reviewed yet which is showing some of the following:

Study:

https://www.medrxiv.org/content/10.1101/2020.03.05.20030502v1

Non-medical summary:
https://www.statnews.com/2020/03/09/people-shed-high-levels-of-coronavirus-study-finds-but-most-are-likely-not-infectious-after-recovery-begins/

From CDC (https://www.cdc.gov/coronavirus/2019-ncov

[2020-03-13 22:46] nditada opened #16 "Move the navigation to the sidebar"

[2020-03-13 22:47] monicacecilia commented on #1
This has been addressed in the Spanish version adding one additional sentence. Based on advice from the user, I added:

```Their study created a scale of 0-100 points, measuring a country's level of pandemic preparedness.```

I've added this to the 'private' google doc and this could also be added to the new website.

[2020-03-13 22:49] nditada opened #17 "Shorten the TOC entries to ease navigation"
related to #16

[2020-03-13 22:51] waj commented on #11
Fixed in ad30184f8d639c5a6489fe7c94f0ca34b9bcf934

[2020-03-13 22:51] #11 closed

[2020-03-13 23:05] nditada opened #18 "Updates to Spanish translation"
Mónica has indicated that it seems we used an older version of the content (sorry, probably my fault).

This is the current document: http://bit.ly/coronavirus-guia-espanol

and it also includes translated images

[2020-03-13 23:08] bcardiff opened #19 "Title is localized in contact page but not in main content"

[2020-03-13 23:12] nditada opened #21 "Increase visibility of "how to contribute with content, reviews, translations""

[2020-03-13 23:15] manumoreira opened #22 "Contact link hard to read on mobile (vertical)"
When navigating the site in mobile vertical, the upper right corner shows a hamburger menu instead of "Contact" the problem is that when the menu drops the contact link appears in white over a light grey background.
<img width="219" alt="Screen Shot 2020-03-13 at 20 13 30" src="https://user-images.githubusercontent.com/31930782/76665586-2da44a80-6567-11ea-94c7-dfa22e2369e8.png">

[2020-03-13 23:16] natecostello opened #23 "Submitted a pull request for some edits...not sure how you guys want to manage collaboration."
I made some minor edits to try minimize what would be perceived as a political position on single-payer healthcare to raise mass appeal and adoption.  I'm not sure if pull requests are how you guys intend for people to contribute or not.   #flattenthecurve.

Pull request: https://github.com/flattenthecurve/guide/pull/20

[2020-03-13 23:19] nekron commented on #2
From a quick Google search:

- Farr's law was formulated by Dr. William Farr in 1840 indicates that Epidemic outbreaks follow a bell-curve pattern.
- Almost all epidemics follow this pattern, including a sharp increase in cases at the beginning of the cycle, a peak, and then a decline in cases and a return to baseline.
- The pattern exists because human beings modify their behavior to avoid gettin

[2020-03-13 23:20] #19 closed

[2020-03-13 23:29] brian-bot opened #24 "Re-organize contributing content to use open source standards"
See [here](https://help.github.com/en/github/building-a-strong-community/setting-guidelines-for-repository-contributors) for how to set up a CONTRIBUTING guide. I would be happy to take the first pass at moving content from the README.md to this format. Assign the issue to me or tag me here and I would be happy to take a first pass.

Thanks for all of your work!

[2020-03-13 23:36] nditada commented on #23
Thanks @natecostello! Merged already.

[2020-03-13 23:36] #23 closed

[2020-03-13 23:48] mellybelly opened #25 "add disclaimer that this is not a for-profit org"
the .com suggests that it might be, it would be good to make it clear that this was the available domain and that it really is a group of scientists and citizens trying to coordinate to do the right thing.

[2020-03-13 23:56] scottleibrand commented on #8
Are you looking to add alt-text to the images for accessibility, or completely switch them over to text only?

[2020-03-14 00:24] nicolevasilevsky opened #26 "add jazz hands to "get creative with zero-contact greetings""
This is my favorite article I have read so far:
https://www.thebroadwaybeat.com/post/cdc-urges-citizens-to-avoid-spreading-coronavirus-by-greeting-exclusively-with-jazz-hands

![image](https://user-images.githubusercontent.com/6722114/76670743-6e906500-654f-11ea-8de5-a8efda123c19.png)

[2020-03-14 00:26] nicolevasilevsky opened #27 "typo: If you’d like to contribute finantially,"
At the bottom of the page, under how to contribute

finantially -> financially

[2020-03-14 00:48] nicolevasilevsky commented on #21
There are two sections on how to contribute, near the top and at the bottom. I will do a pull request to add a link from the top of the doc to the bottom of the doc.

@nditada what else did you have in mind to increase the visibility? And were you referring to the contribute section at the top of the doc or the bottom?

[2020-03-14 01:06] #27 closed

[2020-03-14 01:28] steesdale commented on #2
Here is an in-depth description of some of the history on the concept - Brownlee resurrected the concept more recently.

John Brownlee and the Measurement of Infectiousness: An Historical Study in Epidemic Theory on JSTOR https://www.jstor.org/stable/2982487?newaccount=true&read-now=1&socuuid=bce7b82f-36b4-48ac-be57-a2ee73423dfb&socplat=twitter#page_scan_tab_contents

Also, there are many factors

[2020-03-14 01:52] steesdale commented on #2
re: Seems to my layperson mind that there isn't enough data to assume that Covid will follow Farr's timeline......

No one knows the duration or exact shape the epi-curve for COVID will take.  It's also possible to have multiple waves or curves back to back to back.

The take-home message of the site is that we want to elongate the time of the curve as best possible and to decrease the magnitude o

[2020-03-14 02:01] steesdale commented on #13
I like the idea.  We should probably make sure it's super clear that it's automated and unstaffed.

[2020-03-14 02:06] natecostello commented on #17
Can't help here, but agree it would be could to move it to a side-bar or the end.

[2020-03-14 02:49] natecostello opened #32 "add a "keep the faith section" to the DO section to set expectations"
I think it might be worth having a section at the end of the DO portion that explains that actions taken right will not immediately affect/turn the numbers.  Essentially, due to the increasing availability of testing, combined with the incubation period, we are looking at light from a distant star.  What we are seeing today is due to what happened X days ago.  This change was inspired by questions

[2020-03-14 05:17] monicacecilia commented on #9
Requested fix for header in Julie's bio in #33

[2020-03-14 10:21] josselex opened #34 "Add "wear / build a mask""
In east asian countries where they are quite successfully fighting the desease everybody is obliged to wear a mask.

There are studies that even self-built masks protect in both ways:
https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2440799/

I think it is a good idea to start to wear masks, especially to protect others. It also raises awareness and keeps you from touching your mouth/nose.

[2020-03-14 12:28] #9 closed

[2020-03-14 12:56] nditada opened #35 "Create issue templates"
- [ ] Content or resource addition request
- [ ] Typo, grammar, small fix.
- [ ] Dispute scientific claim.
- [ ] Others?

[2020-03-14 13:11] paigejarreau opened #36 "Illustrated primer or coronavirus - resource"
Lifeology just published an illustrated mini-course on COVID-19 written by Shauna Bennett, illustrated by Elfy Chiang in Taiwan, and reviewed by Tara C. Smith, Ian Mackay and other virologists and MDs. The course is published in English, Chinese and soon in Spanish.

Links https://lifeapps.io/lifeology/covid-19 (English)
https://lifeapps.io/lifeology/covid-19-zh (Chinese)

This course was written

[2020-03-14 13:21] nditada opened #38 "Unify contribution instructions"
https://www.flattenthecurve.com/contact/

Points people to the email, we should probably direct them to the intro instructions here for better self-organizing.

[2020-03-14 13:27] nditada opened #39 "Move the "who to follow" list somewhere else"
Julie prefers to not be linked directly on twitter, let's move the list linked on who to follow somewhere else, also to enable crowd-curation.

[2020-03-14 13:32] nditada opened #40 "Better style for section headlines"
We had a really highlighted style for section titles, but those headlines were also used for the TOC and they were too long.

We should find a way to keep the former (long) headlines highly visible, without having them show up as the TOC entry.

https://github.com/flattenthecurve/guide/commit/f8c5d5639091d59154917b7f52f157204017cec5

[2020-03-14 13:35] nditada opened #41 "Keep the "updated on" updated"
How should we do this?

Automatically: easy and failproof but minor non-content updates will update the date.
Manually: more accurate but needs instructions to do so and more error-prone.

[2020-03-14 13:39] #17 closed

[2020-03-14 14:48] nditada opened #42 "h"

[2020-03-14 15:00] matiasgarciaisaia commented on #14
This has already been fixed in https://github.com/flattenthecurve/guide/blob/184d3af783ffbdb864b263c8c98d428c367ca54e/_content/es/01-context/03-site-intro-and-updates.md 👍

[2020-03-14 15:00] #14 closed

[2020-03-14 15:26] #18 closed

[2020-03-14 15:27] danimiba commented on #8
I would think that to be able to translate this we need them in text only, and style them with css
@nditada @jkicillof do you agree?

[2020-03-14 15:38] danimiba commented on #34
I would highly recommend asking for more advice and evidence. According to de CDC, wearing a mask is not the way to go against this: https://www.cdc.gov/coronavirus/2019-ncov/hcp/respirator-use-faq.html

It actually says that we shouldn't buy N95 as to let them be available to health facilities.

[2020-03-14 15:55] bcardiff commented on #41
We can automate this from the last commit date in the `_content/:lang:` directory using https://stackoverflow.com/questions/25921757/how-to-get-last-commit-date-inside-a-folder-directory-in-github-repo

[2020-03-14 16:07] seancv opened #44 "hreflang header implementation"
Add hreflang tag to the header on all pages:
[code]

[2020-03-14 16:08] seancv opened #45 "Canonical Tag Implemented on each page"
Ensure the canonical tag is implemented properly:
[code]

Each canonical tag must match the URL of the page.

[2020-03-14 16:12] nditada commented on #41
Perfect, go for it!

[2020-03-14 16:15] mellybelly opened #47 "replace business insider figure"
I prefer this one, because it has *really* made the difference in explaining to elderly or skeptical people about what is different with COVID-19.

https://www.businessinsider.com/coronavirus-compared-to-flu-mortality-rates-2020-3

[2020-03-14 16:23] nditada opened #48 "Guidelines for localizing content"
The source version in English has a lot of US references that will not be relevant in other languages. How do we setup guidelines for translators on how to handle that?

[2020-03-14 16:27] mellybelly opened #49 "Create Bibliography"
We should have two separate sections for both scientific and news references and their citation dates.
As things proceed we may need additional categories to make it easier for people to navigate. Most recent first might be a good strategy.

@seancv please assign to @RoseRelevo

[2020-03-14 16:38] RoseRelevo commented on #49
Right now I'm just building a table with the current links and txt.  As I
follow the links, they will sort out into full citations, news stories, and
other stuff.

As I go through I'll see if I have any other ideas.

RR

On Sat, Mar 14, 2020 at 9:27 AM Melissa Haendel <notifications@github.com>
wrote:

[2020-03-14 16:43] matiasgarciaisaia commented on #44
We were only missing the `x-default` link - and it's been added in 06b4ec2aa7c7bced0cf2be941fa058fdc95e09a0 & d4d5c5187ba124110acc28743b102fe82da83f93 👍

[2020-03-14 16:43] #44 closed

[2020-03-14 16:44] matiasgarciaisaia commented on #45
Canonical tags are already implemented 👍

https://github.com/flattenthecurve/guide/blob/1a443b02e8b53eead255bbfab8e54e7aae76b768/es/index.html#L12

[2020-03-14 16:44] #45 closed

[2020-03-14 16:45] matiasgarciaisaia commented on #44
(The changes may not be live yet due to CloudFlare's cache)

[2020-03-14 16:54] matiasgarciaisaia commented on #41
I'd expect that date to reflect the latest substantial update on the content instead of showing when did we do the latest SEO-related change. Doesn't that make sense?

[2020-03-14 17:06] bcardiff commented on #41
That’s why we can use the latest commit date within each content x language folder.

It’s not 100% accurate, but is pretty near.

[2020-03-14 17:09] pitviper6 opened #50 "Terms/Concepts to be defined"
Pandemic
  WHO (https://www.who.int/csr/disease/swineflu/frequently_asked_questions/pandemic/en/)
  Merriam Webster (https://www.merriam-webster.com/dictionary/pandemic)
  MeSH: https://meshb.nlm.nih.gov/record/ui?ui=D058873
COVID-19 (short for coronavirus disease)
  WHO: the disease caused by a new strain that was discovered in 2019 and has not been previously identified in humans.
Coronavirus(es

[2020-03-14 17:33] pitviper6 commented on #48
Maybe create a FAQ page for translators in a checklist format? As they do their translations, we should encourage them to contribute back things they learn going through the process so we can build a better FAQ. Things to include:

1. Parallel or similar government agencies across countries for:
   CDC
   State Department
   NIH
   Country-specific agencies tasked with creating health/disease poli

[2020-03-14 18:09] simonespa commented on #35
I like that @nditada

What about:
* Content related
  * Resource change (addition, update, removal)
  * Typo, Grammar error, stylistic update and layout, etc.
* Localisation/Translation
* Legal/Scientific disputes
* Website feature request (new tech, linters, unit testing, etc.)
* Website bugfix
* Others?

[2020-03-14 18:46] steesdale commented on #34
Masks work to prevent you from getting others sick.

They don’t work for average people for keeping from getting sick.  This is because people don’t understand or train on how to size, fit, take on/off, handle the mask correctly.

Largely it has been seen to give people a false sense of security...

[2020-03-14 20:08] nicolevasilevsky commented on #49
DMICE was aggregating relavant articles, @RoseRelevo do you have access to that? If not, I can inquire about it.

[2020-03-14 20:11] #22 closed

[2020-03-14 21:30] monicacecilia opened #53 "Update image, update Tweet in Spanish translation"
- [x] **Update/remove wrong tweet**: In the section "```Hay que abastecerse de comida y elementos esenciales – temprano, gradual, y responsablemente```": the wrong Tweet was embedded in the Spanish translation. What's currently there is a tweet from Florian Krammer; which was also correctly added (a second time) later in the text. Although it is not in the English page, if you want to embed a twee

[2020-03-14 21:32] #16 closed

[2020-03-14 21:49] bcardiff commented on #41
Done in 18e9b4109b1a7a45957256f67ec66a2670e87b68 and 80efa968216cd259b61f0f040623a5cbe8d30452

[2020-03-14 21:49] #41 closed

[2020-03-14 21:55] #53 closed

[2020-03-14 21:59] jmcmurry opened #55 "The WHO Guidance has come a long way in last 14 days we need to amplify it"
This is the main thing. I mean the fact that we're putting transparent measures in place for next time is reassuring, but let's not forget this:

https://www.who.int/emergencies/diseases/novel-coronavirus-2019/technical-guidance

We are obviously all doing our best but should not be so sanguine about our own abilities to assess things.
Nor too attached to our own ideas.
Standing by for reboot.

[2020-03-14 22:05] jmcmurry commented on #15
Whoa. Yeah. So glad I pulled youngling out when I did. It still may not have been early enough. Sobering.

[2020-03-14 22:06] jmcmurry commented on #48
Exactly. All of this. Nice going team!

[2020-03-14 22:09] jmcmurry commented on #39
+1. Also there are lots of people better qualified to really weigh in on this than I am so let's just rethink the whole section and instead say. "There are many experts in this field and we need some time to compile a list." In the meantime, yes please don't link to my twitter, but linkedin is fine. https://www.linkedin.com/in/mcmurryjulie/ thx

[2020-03-14 22:12] jmcmurry commented on #32
hmm this resonates with me but I need another +1 to merge the idea, thank you @natecostello !

[2020-03-14 22:12] nicolevasilevsky commented on #35
I can work on this.

@jmcmurry could I get write access to this repo? I can then assign myself to tickets

[2020-03-14 22:13] drlbln commented on #12
I'd to copy that. I began translating ftc into German yesterday, I'm stuck with the workflow here, tried to email to hello@flattenthecurve.com with no success and would at least like to provide you the litte 1% done so far.

[2020-03-14 22:13] jmcmurry commented on #26
We definitely need a new jazzhands emoji

[2020-03-14 22:14] nicolevasilevsky commented on #35
Actually, I need write access to  be able to work on this.

Instructions here (for future reference): https://help.github.com/en/github/building-a-strong-community/configuring-issue-templates-for-your-repository

[2020-03-14 22:37] drlbln opened #59 "Guide for translation workflow"
I'd to copy that.

I began translating ftc into German yesterday, I'm stuck with the workflow here, tried to email to hello@flattenthecurve.com with no success and would at least like to provide you the litte 1% done so far.

_Originally posted by @drlbln in https://github.com/flattenthecurve/guide/issues/12#issuecomment-599141350_

[2020-03-14 22:55] xloem opened #60 "Integrating And Collaborating With Resources from Localized Mutual Aid Groups"
I just discovered your wonderful resource.

There are many other resources that have much more information in them.

Would you be amenable to holding some kind of queue for this information, and accepting volunteer effort to integrate it into the page you have already?

For example, San Francisco people put together this brief document which includes a local board for finding aid from volunteers i

[2020-03-14 23:00] natecostello commented on #32
I'll write something up and give a pull request for consideration.

[2020-03-15 00:02] xloem opened #61 "Publishing as a Wiki for Rapid and Easy Contribution"
If anybody tech-minded would know how to make the site _editable_ like a google doc, this could facilitate a lot of combined effort in providing resources, updates, and aid channels.

I know quality is important, but as Wikipedia shows having a lot of people reviewing instead of a limited channel for contribution can be far more effective when there is a huge base of content.

There are projects l

[2020-03-15 01:29] jaeddy opened #64 "Fix Do/Don't header colors (accessibility)"
The current green/red background would be a problem colorblind folks. Blue/red might be a better choice (some other options [here](https://www.toptal.com/designers/colorfilter/)).

[2020-03-15 01:45] andreimoment opened #66 "Current build has rendering issues on mobile and the link section is now at the bottom of the document"
Both of these are on mobile (iPhone 8 iOS 13)

### 1. Rendering issues:

Content stretches wider than the background. See screenshot below.

![B4414E9D-EF13-416B-B10C-4871C8232E8C](https://user-images.githubusercontent.com/6190/76693548-4f173c00-6624-11ea-9980-ef7b1e76bdb0.png)

### 2. Navigation Links are no longer available at the beginning of the document.

They now appear at the end of the doc

[2020-03-15 02:21] bcardiff commented on #66
This is fixed now.

[2020-03-15 02:21] #66 closed

[2020-03-15 05:05] matiasgarciaisaia opened #67 "Shorten Spanish titles for ToC readibility"
Titles in Spanish still have the old, long versions. We should trim them to improve the ToC's readibility.

[2020-03-15 06:53] tkhans opened #68 "Coronavirus duration on surfaces"
How long coronavirus last on surfaces of all kinds. Plastic, Metal, Clothes, and more important metals that we regularly touch.
Lift buttons
Mobile phones
Laptops
Doors
Faucets
Clothing
Railing
Plastic ware
Kitchen ware
etc.

a chart showing the above in the flattenthecurve.com will be beneficial.

for each and every important information a chart/picture will be worth a thousand words.

[2020-03-15 10:53] codejack42 opened #69 "Best approach: Assume you're already infected but asymptomatic, act accordingly"
In the US, virtually no one has been tested. As of yesterday, last I checked, it was a total of 5,000 tests, nowhere near a big enough number to be statistically significant as a measure of the condition of the US population.

In addition, nearly 100% of the few tests that have been performed have been performed on people who have sought medical attention, by definition symptomatic symptoms.

SFAI

[2020-03-15 11:18] codejack42 commented on #69
just re-read my comment above, apologies for typos, missing words, and other mistakes. Feel free to ask if clarification is desired.

[2020-03-15 11:54] codejack42 opened #71 "Take your temperature at least 1x/day"
Most common symptoms are fever and dry cough. Especially in the absence of testing, a fever is the #1 thing to be looking for.

How do you know you have a fever if you don't know your regular baseline temperature? For instance, lots of people have a baseline temp that's well below 98.6 and for those people, 98.6 means they have a fever. Similar deal for people whose normal temp is well above 98.6.

[2020-03-15 12:06] codejack42 opened #72 "a "for dummies" sort of version for people who aren't so inclined toward learning by reading"
I've shared the "Update and Thorough Guidance" doc with a bunch of people. Among those who are natural readers, it gets high marks uniformly. But those who are less inclined to read tend to not read it, or to only get through the first section or two, or to just skim and forget. I asked a number of people for feedback and suggestions, and a few of them said it was "too dense", "too wordy", "not vi

[2020-03-15 13:35] josselex commented on #34
Yes. That's why you should wear them! Think of society, wear a mask.

Do you have any source for this? And again: Why do countries who sucessfully fight Corona recommend different?
And actually I think people running around with masks earlier would have increased awareness in a lot of people.

[2020-03-15 14:02] simonespa opened #73 "[Translation] Italian translation needed"
I'm volunteering to translate this document in Italian. but of course I don't have domain knowledge. Help needed for proof reading and image translations as well.

[2020-03-15 14:03] simonespa commented on #73
I forked this repo on my personal one and started with a first iteration of the translation. I will be opening a draft PR soon.

[2020-03-15 15:13] nditada opened #75 "Confusing sentence"
The sentence ```Experts aren’t telling you to stock up on essentials because they think you’re going to run out of food & society is going to collapse``` is grammatically confusing and has been interpreted by some as "Experts [...] think society is going to collapse".

Can we improve that?

[2020-03-15 15:14] jmcmurry commented on #71
This could be misleading though. Lots of evidence temperature fluctuates naturally. Not sure we want the worried well to be using their time this way. Comments welcome

[2020-03-15 15:16] jmcmurry commented on #68
Agree. Side note, where is the data about longevity of this particular strain on surfaces? Why was this not the first thing people were studying? In any case, yes we should do the best we can.

[2020-03-15 15:22] nditada opened #76 "Fix pronouns in English version"
There's a mix of "We" and "I". We should change everything to "We".

[2020-03-15 15:50] btantheman opened #77 "Adding a link to an FB DP Frame to spread the word on #FlattenTheCurve"
Hi FlattenTheCurve team!

I'm Brian Tan, a UI/UX designer from Manila. I think the website you guys made has great content, and I assume you guys have wide reach through it.

I recently made a Facebook Profile Picture Frame to help spread the word on the need to flatten the curve of cases of COVID-19, so we can avoid overwhelming healthcare systems. An FB Frame is a powerful tool to get people to

[2020-03-15 15:53] simonespa commented on #35
@nicolevasilevsky if you don't get write access you can still raise a PR by
- Forking this repo to your own space
- branch off master on a feature branch
- raise the PR against master on the original repo (the PR will be reflected here)

[2020-03-15 15:58] matiasgarciaisaia commented on #61
I think a wiki was not the idea behind this site. From the start, it was part of the intent to have @jmcmurry & her team review every piece of information that gets posted, to avoid spreading misinformation.

There are tons of wikis out there - it's easy to just set that up. And I guess that may even be useful. But it's not what (I understand) this project is or want to be.

Once again, @jmcmurry'

[2020-03-15 15:58] nditada commented on #13
We might be able to eventually have a few qualified volunteers to answer questions or automate FAQ. I would defer to @anahi on the ethical implications of this.

[2020-03-15 16:27] nditada commented on #35
@nicolevasilevsky you should have access for PRs now, or simply paste or link here the templates and we'll set them up.

[2020-03-15 16:49] seancv opened #78 "Do: Travel -- confusing "at a glance""
Got an email pointing out that if you scan the ToC it basically says Do: Travel.

But under "Travel" it says "cancel all travel.

Can we update the heading (on the green background and on the ToC) to be:

Cancel Travel?

Just so it's clear at a glance that's what we mean :)

[2020-03-15 16:55] seancv opened #79 "Custom FAVICON"
Someone on Twitter answered Julie's call for a custom favicon for the site and made us one.

It can be found here: https://twitter.com/jaradniemi/status/1238299603872563200

[2020-03-15 17:22] tkhans commented on #68
https://www.npr.org/sections/health-shots/2020/03/14/811609026/the-new-coronavirus-can-live-on-surfaces-for-2-3-days-heres-how-to-clean-them

there are many such articles that describe different time duration of viruses that last on things. By pulling all such data in a more constructive table will further increase awareness.

[2020-03-15 18:09] #79 closed

[2020-03-15 18:38] emersonthis commented on #78
I just submitted [PR #82](https://github.com/flattenthecurve/guide/pull/82) which fixes this.

[2020-03-15 19:38] simonespa opened #84 "[Proposal] Add a Code of Conduct"
Code of conducts are common for projects of all sizes especially when shared across multiple contributors.

[2020-03-15 19:44] simonespa commented on #84
Added template with https://github.com/flattenthecurve/guide/pull/85

[2020-03-15 21:21] nditada commented on #59
First cut here: https://github.com/flattenthecurve/guide/wiki/Content-translation

[2020-03-15 21:21] #59 closed

[2020-03-15 21:41] #38 closed

[2020-03-15 21:42] bcardiff commented on #42
If this is done, the link mentioned in contact-es.md should be updated.

[2020-03-15 22:32] mmuller opened #87 "Broken link in Spanish version"
**Bug:**
Broken link: `https://www.flattenthecurve.com/es/es`

**Suggested fix:**
`Replace https://www.flattenthecurve.com/es/es` with `https://www.flattenthecurve.com/es`

Screenshot:

![image](https://user-images.githubusercontent.com/518152/76712010-7db01800-66f3-11ea-8943-9825b8bf8da9.png)

[2020-03-15 22:36] bcardiff commented on #67
On hold until #40

[2020-03-15 22:44] mmuller commented on #35
The following templates are working properly:

![image](https://user-images.githubusercontent.com/518152/76712204-3460c800-66f5-11ea-8d35-2c6d53fe8f0f.png)

I close this issue.

[2020-03-15 22:44] #35 closed

[2020-03-16 00:14] jmcmurry opened #88 "Y axis mislabeled"
Please report the issue under the apppriate header below.

**Content to be added or changed:**

"Hi Ms. McMurry,
Excellent job pulling the info together, but there’s a glaring error us math types see. The y axis is labeled incorrectly on your website. The y axis is number of cases per unit of time. The area under the curve is the total number of cases. In other words, we’re trying to pace out the

[2020-03-16 00:14] jmcmurry commented on #84
cc: @monicacecilia

[2020-03-16 00:16] jmcmurry commented on #75
Yes, this was a direct copy of a tweet. We should simplify to
"experts are telling you to stock up on essentials because ... "

[2020-03-16 00:57] SokolskyNikita opened #89 "Could a potential timeline be added?"
Please report the issue under the appropriate header below.

**Content to be added or changed:**
The website goes to a great length to explain the concept of "flattening the curve". However it does not provide an exact breakdown of how long this process would take, as the graphs presented lack an exact timescale.

Would it be possible to add such a timescale? E.g. start with the number of availabl

[2020-03-16 01:36] drlbln commented on #89
Good point, as long as we can provide proper references and can we please pay attention to prepare those graphs as reusable templates so we can easily adapt them to other setups?

[2020-03-16 01:52] emersonthis commented on #61
Agreed. I recommend closing this.

[2020-03-16 01:59] emersonthis opened #90 "Add documentation for developers"
It would be helpful if we had some documentation to help developers get up and running quickly. Looks like we're using Jekyll with a portable docker environment...

[2020-03-16 02:00] emersonthis commented on #90
(The `enhancement` label seems to have been added automatically and I don't have permissions to remove it.)

[2020-03-16 02:05] jmcmurry opened #91 "add "close toilet seat before flushing""
**Content to be added or changed:**
Risks may be negligible, but easy to do. Some fecal oral transmission reported; data not solid yet.

[2020-03-16 02:10] emersonthis opened #92 "[English] "About" pages appear under the "Don't" heading in the navigation on the left"
**Bug:**
Currently there are several page links that appear under the "Don't" heading in the navigation links on the left. This is confusing.
<img width="1654" alt="Screen Shot 2020-03-15 at 7 07 39 PM" src="https://user-images.githubusercontent.com/1728139/76717402-78050300-66f0-11ea-8784-614b2fdbc969.png">

**Suggested fix:**
Create a new "About" heading for those last few links that don't belon

[2020-03-16 02:20] mmuller commented on #92
It only happens when using the English version.

Spanish version:

![image](https://user-images.githubusercontent.com/518152/76717784-6ed95d80-6713-11ea-8e6d-83f0b5589e3b.png)

[2020-03-16 02:21] cmcnamara87 commented on #91
https://en.wikipedia.org/wiki/Toilet_plume

[2020-03-16 02:26] emersonthis commented on #92
Thanks! That's helpful. I'm reading up on the [jekyll-toc](https://github.com/toshimaru/jekyll-toc) plugin which appears to be powering that...

[2020-03-16 02:54] nditada commented on #72
I like this, let's build a "Summary" section with the "too long;didn't read". We would need to craft that in english so that all translators can then take it from there.

[2020-03-16 02:56] #64 closed

[2020-03-16 02:58] bcardiff commented on #40
Closed by 030e14dd6c5980d2a031a93a4c124567a93dcd0a . For now we are using the long names in both places.

Showing short names in the TOC and navigating to long different titles would be confusing.

[2020-03-16 02:58] bcardiff commented on #67
No longer needed. Back to long titles.

[2020-03-16 03:06] bcardiff commented on #92
Fixed in 030e14dd6c5980d2a031a93a4c124567a93dcd0a

[2020-03-16 03:06] #92 closed

[2020-03-16 03:09] bcardiff commented on #64
I used the colors suggest in https://www.visualisingdata.com/2015/11/colour-swatch-alternatives-to-green-and-red/ for this.

[2020-03-16 03:13] #90 closed

[2020-03-16 03:57] drlbln commented on #72
As I said in the translation-ops channel on slack: I strongly support this. This really is urgent.
While here in Europe (partial) shutdowns and lockdowns are reality already, still a lot of people don't understand simple basics. And particularly those with little or no English skills are the most affected.  So, please let us bring up a short maybe boild down version soon/now.  And though I know it

[2020-03-16 08:06] tkhans opened #95 "Dos and Don'ts of a Coronavirus Patient"
Much is talked about as a prevention for people who are not infected with the coronavirus. But, we're not talking about the dos and don'ts of a coronavirus infected person. There are stories of people tested positive with covid19 are escaping from quarantines, panicking, etc. let's think.

can the above help in flattening the curve?

[2020-03-16 08:16] SokolskyNikita commented on #89
@drlbln looks like someone [already did the math](https://medium.com/@joschabach/flattening-the-curve-is-a-deadly-delusion-eea324fe9727). Can I include those graphs in the repository, presuming the Medium author allows it? The math looks solid to me.

[2020-03-16 08:44] nditada commented on #40
I think we should re-think this, there has to be a way to have a short entry in the TOC and a longer "headline" in a banner fashion, particurarly for the DOs and DON'Ts

[2020-03-16 09:03] xloem commented on #61
Okay.  Mostly I bring it up because I couldn't find any central resource for community supports to organize (things like makerspace ventilator designs, money pools to facilitate self-quarantining, everyone has new ideas and new work to help) and you guys seem to have both legitimate centralization and some technological resources to make a website.

[2020-03-16 11:18] nditada opened #96 "Translated graphics for German"

[2020-03-16 12:37] #40 closed

[2020-03-16 12:40] bcardiff commented on #40
Ok, reimplemented as follows.

**Short/Long title example:**

[code]

**Short/Long do title example:**

[code]

**Short/Long don't title example:**

[code]

[2020-03-16 12:41] bcardiff commented on #67
Ok, this is needed again. Check https://github.com/flattenthecurve/guide/issues/40#issuecomment-599513474 for appropieate format.

[2020-03-16 12:54] mmuller commented on #78
![image](https://user-images.githubusercontent.com/518152/76760204-fce13280-676b-11ea-820a-35801f46cfd8.png)

[2020-03-16 12:54] #78 closed

[2020-03-16 13:18] nditada opened #97 "Bleach to water ratio from CDC"
**Content to be added or changed:**

source: https://www.cdc.gov/coronavirus/2019-ncov/community/home/cleaning-disinfection.html

Clean and disinfect
Clean AND disinfect frequently touched surfaces daily. This includes tables, doorknobs, light switches, countertops, handles, desks, phones, keyboards, toilets, faucets, and sinks.
If surfaces are dirty, clean them: Use detergent or soap and water pr

[2020-03-16 14:10] #26 closed

[2020-03-16 14:24] jmcmurry opened #99 "Social distancing on trails"
1) Runners and bikers are endangering people on narrow nature trails, increasingly crowded with young kids who can't possibly understand the dangers. Runners need to be wearing bells on their shoes, and bikers need to be putting cow bells on the bikes. Cow bell is already standard courtesy here in Santa Barbara, simply to avoid injuries. Now it should be practiced everywhere that visibility is low

[2020-03-16 14:57] francisrowland commented on #99
With a bit of adaptation, runner and riders could perhaps adapt the concept employed by this Italian gentleman: https://www.independent.co.uk/news/world/europe/coronavirus-latest-news-italy-man-circle-social-distancing-rome-a9399081.html

Runners and riders are perhaps a bit quicker than him, and trails not always so wide (see above). One adaptation could be to have an ellipsoid cardboard distanci

[2020-03-16 15:02] jmcmurry opened #101 "Inclement weather"
People do need to be outside, but not everywhere is blessed with permanent sunshine.
Brief periods of good weather actually cause people to come out all at once. (see also #99 )

1) Go off peak
2) Go hors-piste
3) Get used to walking in the rain

[2020-03-16 15:24] matiasgarciaisaia commented on #61
I guess we may want to link to some nice wiki from the Who to follow/How to contribute sections, but we're not aiming at creating that wiki/community ourselves.

I'll close the issue, but please feel free to make a pull request with a link if you find such community 👍

[2020-03-16 15:24] #61 closed

[2020-03-16 15:24] matiasgarciaisaia commented on #61
BTW: thanks for the intention, @xloem!

[2020-03-16 15:32] tkhans opened #103 "Coronavirus for uneducated and not news savvy people"
There are people who simply think Coronavirus will not harm them. Especially those who are illiterate. Those who believe that God will protect them against all viruses whether they incorporate preventive practices or not.

The act of telling such people to practice several do's related to this pandemic is overwhelming them.

How on a ground-level such a thing needs to be answered. And, how it can

[2020-03-16 16:38] jkicillof opened #104 "Apply text styles"
![image](https://user-images.githubusercontent.com/5031636/76779987-09c14e80-678b-11ea-971a-8b2a37e44ade.png)
Every subtitle, do's and dont's should have at least 1 line height of margin on top

[2020-03-16 17:59] jmcmurry opened #106 "Cleaning products to NOT mix"
CLEANING PRODUCTS TO NOT MIX

Bleach + Vinegar (chlorine gas)

Bleach + Ammonia (VERY toxic gas)

Bleach + Alcohol (chloroform)

Hydrogen Peroxide + Vinegar (corrosive acid)

Please remember this while rubbin’ down your bean cans

c/o: https://twitter.com/skydart/status/1239586721479577600
Someone qualified should +1 before incorporating
I am not a chemist.

[2020-03-16 18:11] jmcmurry commented on #101
Note that walking in trails when they are muddy can damage them, so prefer paved areas when that is the case.
Also walking with an umbrella is a great way to automatically Socially Distance.

[2020-03-16 19:33] tkhans opened #114 "What we don't know about Coronavirus"
Requesting a separate section where people can review things which even virologist and scientist don't know about coronavirus or covid19.

why these details?

this is like QNA on our knowledge about Coronavirus.

The more we don't know - the more exploration and testing are required.

[2020-03-16 19:52] mmuller opened #115 "Author image is not displayed in Deutsch version"
![image](https://user-images.githubusercontent.com/518152/76794742-7138c780-67a6-11ea-8c7d-0c5e2005ae37.png)

[2020-03-16 19:56] nicolevasilevsky opened #116 "Add CD2H logo (and others) to website"
Please report the issue under the apppriate header below.

**Content to be added or changed:**
add CD2H logo to website

[2020-03-16 20:16] nicolevasilevsky commented on #116
![CD2H_logo_color stacked](https://user-images.githubusercontent.com/6722114/76796278-535c6a00-6788-11ea-98e8-99b5f1e9bd90.png)

[2020-03-16 20:24] matiasgarciaisaia commented on #87
We need to update the Lokalise entry with the link like this: `[www.flattenthecurve.com/es](https://www.flattenthecurve.com/{{site.active_lang}}/)`. Jekyll (the site generator) is parsing the link, and it won't work otherwise.

[2020-03-16 20:33] nicolevasilevsky commented on #116
@mellybelly need clarity as to where this should go (at bottom of the page?) and should this include a funding statement?

[2020-03-16 21:04] jmcmurry opened #119 "Resources for parents of young kids in quarantine."
Need resources for parents of young kids.
Here's a good resource to review:
https://www.theatlantic.com/family/archive/2020/03/activities-kids-coronavirus-quarantine

[2020-03-16 21:05] jmcmurry commented on #114
Good point!
This too may need to be region specific.

[2020-03-16 21:21] jmcmurry opened #120 "Original date stamp (March 7)"
**Content to be added or changed:**
There needs to be a date at the top of the page, perhaps with the original March 7 date

[2020-03-16 21:22] jmcmurry opened #121 "Mask reuse in home setting?"
Mask question: I'm in isolation w/in isolation, separated at home from my mildly symptomatic family while we await test results. We have just a few masks. If virus can only survive for a certain time, can I re-use mask after several days, disinfecting the little metal strip?

c/o https://twitter.com/JeffSharlet/status/1239641846613147651

<img width="602" alt="image" src="https://user-images.githu

[2020-03-16 21:42] pitviper6 commented on #48
So if we want to add this, where should it go? It looks like the wiki is the place, but not sure how to get content added there.

[2020-03-16 21:49] steesdale commented on #121
We should pull best practices for mask use and reuse for different types, and what the tradeoffs are to help people make good decisions.   A few topics to consider...
- How to take on / off masks - dont touch outside
- Where to store masks that you are reusing (away from kids, pets, traffic, etc..)
- How to fit and size masks - this is hard when not trained
- What surgical masks are good for (Sick

[2020-03-16 21:51] mellybelly opened #122 "Add new tabs/features for covid-19 publications and data"
We should start collecting  news and locations about available datasets and publications

For example:
https://pages.semanticscholar.org/coronavirus-research

[2020-03-16 21:53] mellybelly commented on #122
here is another covid-19genehostinitiative.net

[2020-03-16 21:54] steesdale commented on #122
Data -> https://coronavirus.1point3acres.com/en

[2020-03-16 22:41] chousmith commented on #104
+1 for this one. Was looking if anyone else had taken on overall font. Standard body font of Lato with font-weight: 300 is really light. Font-weight 400 + Roboto would be nicer

[2020-03-16 23:09] mellybelly commented on #116
It needs a funding statement as well, yes please. I think it could go in multiple places - potentially at the footer and in the contributors/attributions? depends on layout.

Here is the funding information and we can link to the CD2H website as well.
Funded by NIH U24TR002306
https://ctsa.ncats.nih.gov/cd2h/

[2020-03-16 23:10] mellybelly commented on #116
@jaeddy can you work on this one?

[2020-03-16 23:12] mellybelly commented on #122
also consider a trials registry

[2020-03-16 23:15] jmcmurry opened #123 "No rush shipping"
If you're buying something online you're not going to need for a while, choose no-rush shipping. Better for planet and prioritizes other packages for vulnerable populations.

[2020-03-16 23:18] JBoucsei commented on #96
![flatten-the-curve](https://user-images.githubusercontent.com/47296325/76807361-0e622300-67dc-11ea-9d17-9d773bc8dfb6.jpg)

Erkrankte
Ohne verlangsamende Maßnahmen
Leistungsfähigkeit des Gesundheitssystems
Mit verlangsamenden Maßnahmen
Zeit seit Entdeckung der Krankheit
nach CDC / The Economist

[2020-03-16 23:25] mellybelly opened #124 "Add clinical study - bowel disease"
Please report the issue under the apppriate header below.

**Content to be added or changed:**
web-site to collect information of cases of COVID-19 with inflammatory bowel disease to start to understand specific issues relevant to the care of such patients, in light of their high risk status related to immunosuppresion. Here is the link. https://covidibd.org/

Efforts have been made to disseminate

[2020-03-16 23:25] JBoucsei commented on #96
![grafik](https://user-images.githubusercontent.com/47296325/76807695-1ec6cd80-67dd-11ea-9a38-5c2240470b2f.png)

covid mortality rate by age == Sterblichkeit nach Altergruppen
mortality rate == Sterblichkeits-Rate
age == Alter
source == Quelle [keep the original name]

[2020-03-16 23:25] JBoucsei commented on #96
![grafik](https://user-images.githubusercontent.com/47296325/76807783-69484a00-67dd-11ea-9f12-9a5a3459842d.png)

From top to bottom:

[2020-03-16 23:44] JBoucsei commented on #96
![grafik](https://user-images.githubusercontent.com/47296325/76808197-d7414100-67de-11ea-892d-449568098c74.png)

Welche Wirkung hat dein Verhalten?

* Wenn ein Kreis die Schulen schließt und auf online-Unterricht umstellt sterben jede Woche zehn Menschen weniger.
* Wenn ein Konzert mit 100.000 Menschen abgesagt wird, sterben 200 Menschen weniger.
* Wenn Du und 20 Kollegen vier Tage lang von zuhaus

[2020-03-16 23:51] JBoucsei commented on #96
![grafik](https://user-images.githubusercontent.com/47296325/76808664-52efbd80-67e0-11ea-9f5e-816382ade363.png)

### top row
Symptome - Coronavirus (Symptome reichen von leicht bis schwer) - Erkältung (langsames Einsetzen der Beschwerden) - Grippe (plötzliches Auftreten der Beschwerden)

### first column
* Fieber
* Krankheitsgefühl
* Husten
* Nießen
* Gliederschmerzen
* verstopfte- oder laufende N

[2020-03-16 23:53] bfelange commented on #96
https://www.flattenthecurve.com/images/en/covid19-symptoms.png

Symptome | Coronavirus | Erkältung | Grippe
  | Symptome können leicht bis   schwer sein | Gradueller Beginn der Symptome | Plötzlicher Beginn der Symptome
Fieber | Häufig | Selten | Häufig
Müdigkeit | Manchmal | Manchmal | Häufig
Husten | Häufig* (normalerweise trocken) | Leicht | Häufig* (normalerweise trocken)
Schnupfen | Nein | Hä

[2020-03-17 01:13] jmcmurry opened #126 "Clothes reuse in home setting"
Clothes worn out of the home have varying levels of risk, depending on the activity undertaken. We can't indefinitely wear all such clothing once and wash / dry. How long could we quarantine clothes that could be reused again without washing them?

cc: @dnahotline

[2020-03-17 01:18] dnahotline commented on #126
Depends on risk. But, lots of yoga type clothes can be washed every time you go out.

[2020-03-17 01:48] codejack42 commented on #71
@jmcmurry point well taken. I don't think this is a "do or die" type of issue but allow me lobby a little bit nonetheless.

++++
From https://www.health.harvard.edu/staying-healthy/when-is-body-temperature-too-low
"Also, they [older people] should pay extra attention to fevers. A fever of 99° F, which doesn't sound high, can be serious in an older person whose normal baseline temperature is below

[2020-03-17 01:54] codejack42 commented on #71
ugh. Above should read: "For an older person, establish the baseline and monitor for fever slightly LESS casually..."

Maybe someday I'll be able proofread and use the "preview" function. Where there's life there's hope anyway, right?

[2020-03-17 02:02] jmcmurry opened #127 "Stay home should be THE message front and center for USA."
Stay home should be THE message front and center for USA.

The less aggressive measures I published March 6 no longer make sense in lockdown.

[2020-03-17 02:09] mellybelly opened #128 "Add section about mental health during a pandemic"
Here is a good summary: https://afsp.org/taking-care-of-your-mental-health-in-the-face-of-uncertainty/

[2020-03-17 02:42] mellybelly commented on #126
I would say it is not going out that is the risk but where you went and how close you got to other people or had your clothes contact things they may have touched (such as sitting on a public bench or chair). I would not be concerned about washing if i was simply out for a run. I'd wash if i sat on public bench. But then i probably would also not do that ;-)

[2020-03-17 02:43] mellybelly commented on #126
that said if you have an article, I'd say two days and leave somewhere where it won't be disturbed, such as in a garage.

[2020-03-17 03:02] nicolevasilevsky commented on #119
The link above is dead, updated link:

https://www.theatlantic.com/family/archive/2020/03/activities-kids-coronavirus-quarantine/608110/

[2020-03-17 03:04] emersonthis commented on #103
This sounds a bit similar to the project I was working on before I joined this one: https://coviddenial.org/

[2020-03-17 03:10] nicolevasilevsky commented on #116
I created a PR to add the logo to the repo
#129

[2020-03-17 03:34] emersonthis opened #130 "Reorganize content into new sections"
**Stylistic update and layout suggestion**
Proposed fix:

This site is full of precious content, but some of it is hard to find. I am proposing a reorganization of the entire site into more intuitive groups:

* What to expect
  * It is here
  * Yes; this is bad
  * This is not a normal flu
  * [government] policies
* Guidance
  * Things you should do
    * ...
  * Things you should NOT do
    * ..

[2020-03-17 05:35] jmcmurry opened #134 "When to shop when you're at risk"
If you can afford to have groceries delivered, or can have someone shop for you, so.
Else, if you are elderly or immunocompromised go to the store first thing in the morning when things are less touched.

Some stores are extending their hours for these vulnerable populations.
https://twitter.com/mcuban/status/1239244137834127362

[2020-03-17 06:57] codejack42 commented on #71
Thinking about it a little more, I realize that we are unfortunately about to experience a dramatic, drastic shift in how healthcare is rationed in the US. I think there's a good chance that the new rationing model will look a lot more like battlefield-style or field-hospital-style triage, and will thus be predicated on predicted survival rates--weighted in favor of the younger and healthier and w

[2020-03-17 09:26] tpltnt opened #135 "action amondnet/now-deployment@v2 often fails"
Hi there,

a lot of PRs are blocked due to `amondnet/now-deployment@v2` failing. The error is always
[code]
Examples are #132 #129 #125
This blocks useful PRs and puts unnecessary load on the people who try to help (only due to an avoidable technical issue). Is the deployment action actually needed? (And would a test for building the site suffice?)

Cheers,
tpltnt

[2020-03-17 11:49] codejack42 opened #136 ""Prosocial": let's use it and make it the yardstick"
**Content to be added or changed:**

A wise woman once said: "There is hope. You’re it. That’s the work." In addition to being absolutely factually correct, it's also deeply and radically prosocial.

I think a corollary is, "As we make our way through this thing, those of us who are more prosocial will on the whole suffer less in trauma, and carry less trauma with us, than those who are more antis

[2020-03-17 12:40] #87 closed

[2020-03-17 13:00] carlaiau opened #137 "Flatten The Curve Web App"
Love the message your site is getting across and I have referred many people to it.

I have been building a web app based on top of the John Hopkins data set that attempts to give a non technical user an appreciation of how early interventions make a big difference.

The ideal user of the app is a non statistically minded person who doesn't fully appreciate how quickly an outbreak can escalate, an

[2020-03-17 16:26] matiasgarciaisaia commented on #135
@bcardiff any ideas on this?

[2020-03-17 17:18] bcardiff commented on #135
Two issues:

* The zeit-team-id is missing, that is fixed on 7cfc4cbdcdd7e9ef75bab1e5a185fb4b04ec70ab but is not in the base of the some of those PR.

* There has been more request to the preview request than we are allowed in the current tier. Will need to wait, upgrade plan or decouple the CI.

I understand is noisy, but it does not block merging some PRs that are non-risky content changes.

[2020-03-17 18:43] jmcmurry commented on #127
This whole section needs to be replaced with "Stay Home" until we figure out what we are dealing with.

Lower your overall risk with everyday choices
Taken together, making safer every-day choices on average — not just this week but for the next several months — can flatten the curve. Continue to support your local economy, but go off peak; staggering by even 15 minutes can reduce crowding. Everyt

[2020-03-17 19:11] #115 closed

[2020-03-17 20:25] mattbell commented on #121
Here's some research I did on mask reuse:

From: https://www.facebook.com/thismattbell/posts/10159622229081038

Since mask supply is limited, there are questions about mask reuse. There are conflicting reports about whether it is safe to sterilize and reuse masks. [1] [4] Almost everyone recommends discarding masks once used in a high-risk setting (eg a hospital, or contact with a person with COVI

[2020-03-17 21:03] tkhans opened #141 "Do | Donate"
Perhaps I think under the DO section: Donating / **Donate** should also be included.

Scenario: The healthcare professionals are running short of N95 Mask and there may be people who've hoarded it/ or having in excess or are not exposed to coronavirus.

They can come forward and donate it. How the logistics can work - we can figure it out.

Donate the N95 Mask or any other healthcare device/equipm

[2020-03-17 21:51] mattbell commented on #34
I did a lot of research into masks a few days ago and concluded that they should be worn by members of the public if they have them, even if the masks are improvised.

----
Wear a mask in public. 
 
Wearing a mask, even an improvised one, is better than no mask. 
 
A P100 respirator is better than a N95 mask, which is better than a surgical mask, which is better than a scarf or pillowcase, which i

[2020-03-17 23:32] anarchodoc commented on #114
I'd say that this probably is _not_ region specific - there's loads we don't know but the science should be similar everywhere.

[2020-03-17 23:43] jmcmurry commented on #136
Yes, all of this, thanks @codejack42 !

[2020-03-17 23:46] jmcmurry commented on #136
I've mostly been really impressed with people's behavior. There are some that are using this excuse to be their worst selves and these bad actors are getting the clicks. You can't reach everyone.

[2020-03-18 00:06] codejack42 commented on #136
@jmcmurry agree 100%. One end of the curve is the already-highly-prosocial who don't ever need convincing. The other end is the highly-antisocial folks who aren't ever going to be convinced to be less antisocial. For the rest of us middle-dwellers flipping between prosocial and antisocial seems to be a lot more situational and contextual. The big fat middle is who needs the reliable powerful tool

[2020-03-18 00:09] pitviper6 commented on #136
Agreed! Here in Chicago people have been great (aside from the Saturday pub crawlers) - all my neighbors checking up on each other and the local Aldis is fairly well stocked still. Today was beautiful so lots of people out with their dogs and children but are keeping moving and not clumping in groups.

Also, I'm one of the very few remote workers at Catalyst, and our daily pet and random channels

[2020-03-18 00:37] pitviper6 commented on #127
From the CDC site (https://www.cdc.gov/coronavirus/2019-ncov/cases-updates/summary.html?CDC_AA_refVal=https%3A%2F%2Fwww.cdc.gov%2Fcoronavirus%2F2019-ncov%2Fsummary.html)
'The United States nationally is currently in the initiation phases, but states where community spread is occurring are in the acceleration phase. The duration and severity of each phase can vary depending on the characteristics o

[2020-03-18 01:14] codejack42 commented on #136
Signal Private Messenger on my laptop has become my rockstar international solo and groups comms tool--messaging, vid & voice calls, pics and memes, file exchange, seamless sync with my phone--I feel like it does everything for me short of making me end-to-end encrypted french toast. Unexpectedly (and maybe a little worrisome), I'm developing a legit minor affection and appreciation for Slack.

[2020-03-18 02:50] emersonthis commented on #127
This feel super critical! Should we use the text provided by @pitviper6 above? Maybe without the sentence that's flagged as needing research?

[2020-03-18 04:01] nditada opened #146 "Redesign homepage"
Now that the structure has been reworked and has room to grow, let's make this thing look like a gorgeous (but simple!) website.

The #information-architecture team envisioned something like this for the homepage. Keep mobile in mind, 70% of the trafffics is coming from there!!

The 3 "highlights" already have a class" highlight-box" to aid in the layout.
<img width="744" alt="Screen Shot 2020-03-

[2020-03-18 04:26] nditada opened #147 "Parametrize the layout with top"
This will break once we want another page with its own toc:
https://github.com/flattenthecurve/guide/blob/master/_layouts/page_with_toc.html#L7

Need to parametrize maybe using some convention around the page name? Toc variable is being generated based on the page name already: https://github.com/flattenthecurve/guide/blob/master/_plugins/sections_generator.rb#L14

or maybe change it to a TOC arra

[2020-03-18 04:33] nditada opened #149 "Fixes and refactors for json export to localize"
This probably needs a refactor to parametrize the pages with sections
https://github.com/flattenthecurve/guide/blob/master/_plugins/export_language.rb#L19

[2020-03-18 04:36] nditada opened #150 "Fix and refactor to include multiple pages with sections"
https://github.com/flattenthecurve/guide/blob/master/import_language.rb#L10

[2020-03-18 06:28] jaeddy commented on #147
Many Jekyll themes (e.g., [Minimal Mistakes](https://mmistakes.github.io/minimal-mistakes/)) include functionality for automatically constructing the ToC for a particular page (assuming that individual posts/sections have been labeled as part of that page). If we can figure out how to properly organize content within pages (and/or include the relevant Jekyll front matter for each post), we shouldn

[2020-03-18 06:37] jaeddy commented on #146
Just to reiterate that this change should be greatly enabled by the selection of the right "theme" (assuming that we stick to the current Jekyll stack)... this is the demo/docs page for the [Minimal Mistakes theme*](https://mmistakes.github.io/minimal-mistakes/), which I think would be quite compatible with the wireframes above:

![image](https://user-images.githubusercontent.com/5033229/76932220-

[2020-03-18 12:24] tkhans commented on #114
Some quick points about the things we don't know:
1. How long this virus will last
2. who the first patient was who contracted the virus
3. Could the coronavirus outbreak be gone by summer?
4. how long the novel coronavirus can survive on surfaces
5.How deep or lasting the economic impact
6. When do people become contagious?
7. We don't know of a vaccine and when it will be available
8. The first

[2020-03-18 14:58] waj commented on #147
Fixed with 021ebc215fad6e537d69da805d3b1330d219ec82

Any page wanting a TOC now just has to define in the front matter:
[code]

[2020-03-18 14:58] #147 closed

[2020-03-18 18:59] jmcmurry opened #151 "Needed: More specific guidance for buying groceries."
See [here](https://twitter.com/vsbuffalo/status/1240300326516715525).

"I've drastically reduced grocery story visits by stocking up (ages ago, when people thought I was crazy) and making dishes go further with rice, but what's recommended when it comes to grocery shopping? Continue to go rarely? Go during off hours? Avoid going entirely?"

Some good suggestions in comment thread.

[2020-03-18 19:22] nditada commented on #146
Yes, this is a totally good fit for the site, but we need to do a careful integration since the current implementation has a deep customization to enable the editorial workflow.

[2020-03-18 20:14] waj commented on #149
Fixed with #152

[2020-03-18 20:14] #149 closed

[2020-03-18 20:15] waj commented on #150
Fixed in 9ae8a92a76729ea1bb588ea2da479a32f14c3444

[2020-03-18 20:15] #150 closed

[2020-03-18 23:23] bajeluk commented on #34
Thanks, @mattbell, I 100% agree with you.

Btw. almost everyone has started to wear (mostly improvised) masks in central Europe during the last 3 days (2020-03-16 to 2020-03-18), it has become even mandatory in public areas in the Czech Republic.

[2020-03-18 23:24] weltyj opened #154 "Low on toilet paper? Use a piece of cloth when you urinate."
As any backpacker knows, to minimize your toilet paper needs, use a thin cloth (bandana if you are backpacking), to wipe when you urinate.   Only use the TP for that other need...   Leave the cloth out, it'll dry.   Wash it once a day.   It won't kill you, really.

As we are down to 6 rolls, and shelves are still empty, and we had this "well, duh!" moment...

[2020-03-18 23:31] mverzilli commented on #116
@jaeddy once you have clarity on what other orgs logos we need feel free to comment here and the corresponding PR

[2020-03-18 23:54] mattbell commented on #34
BTW, I'm new here.  Should I go ahead and take the initiative to write something up that's ready for insertion into the site?

[2020-03-19 01:22] nditada commented on #130
Done and deployed!

[2020-03-19 01:22] #130 closed

[2020-03-19 01:35] nditada commented on #84
Added!

[2020-03-19 01:35] #84 closed

[2020-03-19 01:42] emersonthis commented on #130
Woot!!

[2020-03-19 01:47] nditada commented on #67
Done!

[2020-03-19 01:47] #67 closed

[2020-03-19 03:02] emersonthis commented on #104
Uh oh. The light blue link style is not WCAG AA compliant for contrast. The darker blue is borderline... it passes the contrast standards at a larger size.

[2020-03-19 03:23] emersonthis commented on #104
@danimiba Sorry I didn't noticed that someone assigned this to you! I was directed to this via Slack earlier today, and I didn't double-check the assignment again before making my PR.
cc @nditada

[2020-03-19 03:24] mmuller opened #157 "Broken link in french version"
**Bug:**

The following link is broken: `https://www.flattenthecurve.com/à propos`.

![image](https://user-images.githubusercontent.com/518152/77028610-02ab6380-6978-11ea-824d-7b6a0121264c.png)

[2020-03-19 03:27] emersonthis opened #158 "Multiple H1 trags on the same page are not semantic HTML"
On many of the pages, we have multiple `<h1>` tags and this is not semantic markup. It's also an accessibility problem because it screws up screen-readers, etc.

For example, all the headers on the homepage should probably be `<h2>`s.

In markdown terms, there should be one `# title` followed by multiple `## subtitles`.

[2020-03-19 03:30] danimiba commented on #104
@emersonthis don't worry, I assigned it myself because I was talking to @jkicillof. Please feel free to continue it, as your remarks about a11y are really useful. There are some more style issues we will create tomorrow, it's really late where we are. Thank you very much in advance!

[2020-03-19 05:23] codejack42 opened #160 "Gastrointestinal Symptoms Could Be New Focus for Coronavirus Diagnosis"
**Content to be added or changed:**

           "Gastrointestinal Symptoms Could Be New Focus for Coronavirus Diagnosis"
2020-03-09 article published on contagionlive.com
https://www.contagionlive.com/news/gastrointestinal-symptoms-could-be-new-focus-for-coronavirus-diagnosis-

++++ BEGIN HAPHAZARDLY CONDENSED ARTICLE ++++
"Novel coronavirus symptoms seem to be mostly focused on fever and cough, b

[2020-03-19 05:46] #137 closed

[2020-03-19 15:16] jackiedelc opened #162 "Contact link"
*Stylistic update and layout suggestion**
Proposed fix: Suggest moving "Contact" from the main header and add it to the bottom of the website such as on the bottom right of this website: https://d-rev.org/

"Contribute" can also be repeated in the website bottom header if you need another link there...

[2020-03-19 15:17] jackiedelc opened #163 "Launching "RESOURCES""
Automatic publishing of resources

[2020-03-19 15:23] nicolevasilevsky commented on #151
Some grocery stores are now offering 'elderly/vulnerable only hours' too:
https://www.businessinsider.com/coronavirus-stores-special-hours-elderly-vulnerable-list-2020-3

[2020-03-19 15:30] nicolevasilevsky commented on #101
I'm not sure recommending people go off trails is a good idea - trails are there for a reason, going off could be dangerous and damage the area

[2020-03-19 15:31] jackiedelc commented on #163
What do we need to do to make this happen? Is someone working on a flow?

[2020-03-19 15:32] nicolevasilevsky commented on #34
Seems like this is somewhat controversial - I am in favor of adding the pros and cons to the site, so people can make their own informed decisions

[2020-03-19 15:33] nditada commented on #163
Let's just setup the flow and start adding content. Any ideas on how we can automatize submission, verification and publishing @mverzilli?

[2020-03-19 15:33] nicolevasilevsky commented on #134
Grocery delivery may not be available right now. My Mom is in the bay area and said her grocery delivery was going to take a week. I looked amazon prime in my area and there were no delivery times available.

[2020-03-19 15:34] nicolevasilevsky commented on #134
related to https://github.com/flattenthecurve/guide/issues/151

[2020-03-19 15:43] jackiedelc commented on #162
Or, if easiest, underneath "Contribute." Right now, there's duplication of content between the two.

[2020-03-19 15:59] emersonthis commented on #8
I can do this later today... should my PR replace the images on the English homepage only? And then someone will latter add the translations to the other languages? I’m still figuring out how issues like these fit into the translation workflow. @nditada

[2020-03-19 17:04] mverzilli commented on #163
How about:

1. People submit ideas to a Google Form. We ask for: Language, Region/Country, URL, and title.
2. When someone fills the form, we trigger a message with a button to a #resources channel so that a verifier can check them.
3. When a verifier gives thumbs up we create an issue in GH in a normalized format (something like: "Add {URL} to Spanish / Argentina").
4. Once there it's up for grab

[2020-03-19 18:44] matiasgarciaisaia commented on #163
@mverzilli I'd rather update the spreadsheet (or auto-push it somewhere) than send a PR. Maybe a Slack action that adds a "Verified" or something like that. Not sure that we want to keep that on the markdown - I fear any issues with the i18n machinery that we have set up.

But it's a minor issue - let's first decide the UX.

[2020-03-19 19:59] jackiedelc commented on #163
The proposed workflow sounds great.

1. I would suggest we collect both city and country. It would be great to 'tag' resources to help visitors navigate them. **Do we have the capability to visually show and filter resources by tags on our platform?** We might develop a set of predefined tags to start (research, actions, news, blogs) and then, have reviewers assigns tags (having contributors their

[2020-03-19 22:11] tpltnt commented on #13
There are already a bunch of people working on that (e.g. #helpfulengineering on slack). Maybe not an issue to be solved here/out of scope?

[2020-03-19 22:13] tpltnt commented on #8
addressed in part in #125

[2020-03-20 03:04] #104 closed

[2020-03-20 03:30] nditada commented on #8
@nditada correct. YOu only worry about the english version, then new translation keys go to Lokalise and translation teams translate the new content

[2020-03-20 12:06] weltyj opened #171 "Personal Safety (non disease), ... stay out of the hospital"
Possible content to be added in the "Do's" section?

Everyone is naturally mentally distracted in this pandemic.    Please stay focused on your high risk activities, particularly driving.   Getting through your day safely so _you_ don't require emergency services or hospitalization means those limited resources can attend to COVID-19 patients.

Now, especially,  is the time to silence your cell ph

[2020-03-20 14:06] steesdale commented on #34
This piece was just published in lancet ->. https://www.thelancet.com/journals/lancet/article/PIIS0140-6736(20)30520-1/fulltext?dgcid=raven_jbs_etoc_email

Does a nice job of laying out pro' sand cons and challenges.

[2020-03-20 14:14] tpltnt commented on #13
Examples: https://www.boost.ai & coronabot

[2020-03-20 14:26] #8 closed

[2020-03-20 14:58] emersonthis commented on #146
@nditada Just to clarify: you want the PR for this to modify the _existing_ thing. (Not implement a new theme) Correct?

[2020-03-20 15:49] nditada commented on #146
Correct, my guess (I could be wrong) is that implementing a new theme, given the level of customization we did in Jekyll could be tedious and timeconsuming. I think we are better off just modifying what we have, but that theme suggested above is a great inspiration (still away CSS and stuff).

Let's go with small, incremental changes, and deploy often to prod. Don't go for 3 days on a huge redesig

[2020-03-20 16:53] waj opened #172 "Title overlaps menu on mobile"
**Bug:**
![image](https://user-images.githubusercontent.com/22697/77186740-1f4bb680-6ab2-11ea-9b67-a18cbe090e59.png)

**Suggested fix:**
We should either (or both) shorten the title or truncate it somehow

[2020-03-20 16:56] waj opened #174 "Titles look too big and spaced on mobile"
![image (1)](https://user-images.githubusercontent.com/22697/77186909-6639ac00-6ab2-11ea-91e1-25baba0e1cd8.png)

**Stylistic update and layout suggestion**
Proposed fix:
This is how it looks with default font size for `H1` and with `line-height: normal`
![image (2)](https://user-images.githubusercontent.com/22697/77186962-823d4d80-6ab2-11ea-8fed-09d32341c47b.png)

[2020-03-20 17:15] emersonthis opened #175 "Add a "Myths" section"
@emersonthis made [this site](https://coviddenial.org/) before working on this project. The content is 100% up for grabs if we want to fold it into this site. The goal is to provide concise, informed responses to some of the popular _wrong_ (and dangerous) ideas that people have.

Proposal:
* Add a new sub-section called **Myths**, probably at the bottom of the **Act & Prepare** page
* Use the sam

[2020-03-20 17:21] emersonthis commented on #175
For convenience, here's the content:

## It's just the flu.

It isn't! The severity is more similar to pneumonia. Many patients require respiratory support. It is also more contagious than the common flu.
Sources: [1] [2]

## I'm young and healthy so I don't need to care.

Young and healthy people are generally less likely to die if infected, but this is not the point! Treatable conditions easily

[2020-03-20 17:23] emersonthis commented on #175
(This is an easy ticket, but we should wait to get a 👍 from @nditada or someone on the core team to confirm they actually want this PR.)

[2020-03-20 17:30] emersonthis commented on #146
Perfect. Understood. Thanks

On Fri, Mar 20, 2020 at 8:49 AM nditada <notifications@github.com> wrote:

[2020-03-20 18:46] jmcmurry commented on #171
Yes, same goes for any activity which is high risk but new to you. [Here's a good resource from Stanford Childrens Hospital ](https://www.stanfordchildrens.org/en/topic/default?id=sports-injury-statistics-90-P02787) outlining risks by activity.

[2020-03-20 20:17] jmcmurry commented on #174
agree

[2020-03-20 21:49] nditada commented on #116
Done!

[2020-03-20 21:49] #116 closed

[2020-03-20 22:06] brian-bot opened #177 "Broken link for contributions"
**Bug:**
broken link for contributions (linked to previous section)

**Suggested fix:**
correct the link (to new page)

[2020-03-20 22:07] jmcmurry commented on #175
This is great, I +1. Here is a good graph in here to show the numbers.
https://www.washingtonpost.com/health/2020/03/19/younger-adults-are-large-percentage-coronavirus-hospitalizations-united-states-according-new-cdc-data/
It is pretty out of focus

[2020-03-20 22:08] jmcmurry commented on #151
Yes; I'm also developing some ideas [here](https://docs.google.com/document/d/1SygSVuAvQJAHXNxFU9IH5b3I7fBoEsfuHE1M99_fnFY/view).

[2020-03-20 22:30] brian-bot opened #180 "minor re-org of contributor guide"
I really like the additions of "guiding principles" to the contribution guide - so much so that I think the guide needs to lead with that - as well as reference the code of conduct. This is a suggested change that I will make in a subsequent pull request.

[2020-03-20 22:51] nditada commented on #175
I love this! Will get approvals and come back!

[2020-03-20 23:03] nditada commented on #163
That could be a good first approach, but it still involves many manual steps and we are short on people that can write proper md in the repo and push that live...

[2020-03-20 23:24] mverzilli commented on #163
I think we already have enough people to tackle those simple PRs. And in the meantime someone with more tech chops can try to streamline the process a bit more.

[2020-03-20 23:29] jmcmurry commented on #171
And don't stress infrastructure unnecessarily either. eg. [this guy destroyed his neighborhood sewage system with expanding hygroscopic beads](https://toofab.com/2020/03/02/youtuber-fills-bathtub-with-orbeez-destroys-neighborhood-sewage-system/). This is the very worst time to do so.

[2020-03-21 00:05] nicolevasilevsky opened #184 "clarify recommendations re: ibuprofen"
**Content to be added or changed:**
there is conflicting content now since the Lancet article came out re: taking ibuprofen if you have COVID-19

Lancet article: https://www.thelancet.com/journals/lanres/article/PIIS2213-2600(20)30116-8/fulltext

This [article](https://www.unibas.ch/en/News-Events/News/Uni-Research/Ibuprofen-and-COVID-19-Setting-the-record-straight.html) aims to clarify the issue,

[2020-03-21 00:06] nicolevasilevsky commented on #175
I approve

[2020-03-21 00:07] nicolevasilevsky commented on #175
@emersonthis looks like you may have some references above, can you share those?

[2020-03-21 00:28] emersonthis opened #186 "Title in header breaks on small screens"
**Bug:**
The title in the header breaks awkwardly on smaller screens (which is most of our traffic).

<img width="377" alt="Screen Shot 2020-03-20 at 5 24 03 PM" src="https://user-images.githubusercontent.com/1728139/77215139-ddca0400-6acf-11ea-92d1-46e1c5026ad6.png">

<img width="371" alt="Screen Shot 2020-03-20 at 5 24 21 PM" src="https://user-images.githubusercontent.com/1728139/77215145-e1f621

[2020-03-21 00:31] weltyj commented on #186
This is the same bug reported in #172

[2020-03-21 00:32] emersonthis commented on #186
Yup. Just saw. Closing

[2020-03-21 00:32] #186 closed

[2020-03-21 02:13] emersonthis commented on #175
I’m afk at the moment but you can see them on the live site linked in the issue. You can also find them in the GitHub repo (linked on the site). I’ll add them to this issue later if someone else doesn’t get to it first.

[2020-03-21 03:41] emersonthis commented on #175
I just updated the comment above with the citations from my cite. One is missing and some could be better for sure.

[2020-03-21 05:24] emersonthis opened #190 "No TOC for Act & Prepare page on mobile"
It's a long page with a lot going on...

On larger screens, we show a nice tree on the left side to jump directly to sections and subsections. But this doesn't appear on mobile, which means there's no way to discover the lower content without reading through the entire page!

Most of our users are on mobile devices, so this feels like a big problem.

<img width="418" alt="Screen Shot 2020-03-20 at

[2020-03-21 14:34] weltyj commented on #190
I now have a script for parsing all markdown files on a folder by folder basis, so if the solution for this is changes to the markdown files it could quite possibly be automated instead of manual edits to affected files in the (4) languages.

[2020-03-21 15:52] #175 closed

[2020-03-21 16:26] #172 closed

[2020-03-21 17:12] nditada commented on #163
Ok! I created a Jekyll collection sorted by Country under resources and a google form to send submissions. The pending step would be to automatize the generation of .mds from a from entry as much as possible.

[2020-03-21 17:42] emersonthis commented on #146
~90% of this is addressed in #189 which was just merged. Might make sense to close this and open a new issue just for the remaining navigation change?

[2020-03-21 18:17] paul-hammant commented on #34
I've been maintaining https://cv-masks.github.io/ for most of March. I've six studies that are pro-mask for same-viron-size Influenza self-protection :)

[2020-03-21 18:18] jmcmurry commented on #34
Washing and drying the washable masks makes plenty of sense, but we need to address the related issue of re-using masks that are not washable. SARS-CoV2 viability on plastic/metal is only 3 days but fomite transmission may be implicated (no hard evidence for this, but we should be erring on the side of safety).

![image](https://user-images.githubusercontent.com/3658863/77233557-89716380-6b65-11ea

[2020-03-21 18:19] jmcmurry commented on #34
By that I mean we should probably, in the absence of hard data either way, recommend people not reuse masks unless they have sat untouched for 10 days. @steesdale ?

[2020-03-21 18:20] jmcmurry commented on #34
There are many complex variables that influence virus survival on fomites, viral transfer from fomites, and viral infection of the host (7, 10, 24, 66). As a result, direct experimental evidence of viral transmission via fomite has been very difficult to generate due to a variety of uncontrollable variables and the unpredictability of human infection (7, 66). An example of the difficulty in produc

[2020-03-21 18:26] jmcmurry commented on #160
Agree we should make people aware at least, here's the message that may be more authoritative:
https://gi.org/2020/03/15/joint-gi-society-message-on-covid-19/

[2020-03-21 18:35] jmcmurry opened #196 "Guidance to youth that they're not at zero risk."
The youth have always fancied themselves immortal, and this is no exception. We need to better communicate the risks to them. There was an article about hospitalization rates being higher in young people and it had a simple graph, I think we should include it. But we need also to harness the power of story. Average young people who end up in ICU and worse.

[2020-03-21 19:26] siwei-wang commented on #71
With the rationing test in US, many mild symptom ppl will need to be alert by themselves. This will help to set up a baseline, i.e., an important early signal to protect those that are vulnerable.

[2020-03-21 20:30] paul-hammant opened #198 "Change "Do not hoard masks" to "Do not hoard surgical masks""
If you want to craveat that, then say don't hoard N95, FFP1, FFP2 or FFP3 masks.

**Cloth masks should be encouraged for civilians.** Ref https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2440799 as they do not deplete the masks that medical professionals use. That notwithstanding https://www.sacbee.com/news/coronavirus/article241330531.html and https://www.deaconess.com/How-to-make-a-Face-Mask

[2020-03-21 20:37] #141 closed

[2020-03-21 21:46] jmcmurry opened #200 "Policies that influence pandemic control"
Worst  | Best | Note
-----|-----|-----
No paid sick leave | Universal guaranteed paid sick leave
Paid sick leave on the order of days | Paid sick leave on the order of weeks
No family leave, paid or unpaid, to care for sick members | Paid family leave to care for sick members
No financial or operational support for people who should self-quarantine (Without this, infected people ignore quarantine

[2020-03-22 01:53] jaysonvirissimo commented on #34
While we discuss a "wear/build mask" section, can we at least [remove the recommendation against masks](https://github.com/flattenthecurve/guide/pull/131) in the mean time?

It is currently waiting for `sci-review`.

@anarchodoc had misgivings about recommending masks, but seemed to be okay with removing the existing section, so I'm pinging them here to ensure they are aware of _this_ discussion t

[2020-03-22 02:00] jaysonvirissimo commented on #198
Alternatively, [remove the whole section](https://github.com/flattenthecurve/guide/pull/131), since it is too vague and contains poor arguments.

[2020-03-22 02:22] jaysonvirissimo commented on #196
[Here's](https://twitter.com/DanielNewman/status/1240386177754071042) a 39YO infected with coronavirus giving her account from the ICU.

[2020-03-22 02:40] codejack42 commented on #160
Thanks @jmcmurry I appreciate your taking a gander.
The link you noted above:
"COVID-19 Clinical Insights for Our Community of Gastroenterologists and Gastroenterology Care Providers"
https://gi.org/2020/03/15/joint-gi-society-message-on-covid-19/
is undoubtedly helpful and necessary for all gastroenterology professionals. So to the extent they're our audience we should address them.

But for fami

[2020-03-22 03:51] steesdale commented on #200
Suggest leading with the positive over the negative.

Also, these are secondary policies that affect pandemic control.  I would expect to see things more directly engaged too.  Contract tracing, surveillance, vaccine developement, infection control, accessible/extensive testing,  etc.. There is a nice list here by the Resovle to Save Lives team... https://www.cnn.com/2020/03/20/health/coronavirus-

[2020-03-22 04:23] codejack42 opened #202 "Please explicate: "Don’t use “concern” as a smoke screen for racism""
**Content to be added or changed:**

Thank you for daring to use the term 'racist', which (despite the superabundance of racism around us) is too often shied away from as if it were a dirty word.

Every time I read the "Do not be racist" section, when I see
"Don’t use “concern” as a smoke screen for racism"
my response is, "Wait. What? I don't know what this means."

I'm willing to admit that I'm

[2020-03-22 04:41] jaysonvirissimo commented on #202
You are not alone. It’s confusing to me as well. Perhaps the original author could add further context?

[2020-03-22 04:43] steesdale commented on #198
Perhaps we can flip this to the proactive/positive.  Specifically things like,
- If you are sick, wear a mask to prevent getting others sick
- If you are high risk due to health status or profession/caretaker status.  Consider wearing an N95 style mask but be sure to get help to practice and train on how to use them.
- etc...

@jaysonvirissimo  and @paul-hammant would you all be willing to draft s

[2020-03-22 04:55] jaysonvirissimo commented on #198
I can draft something, but it won’t be until tomorrow night. Don’t wait for me if you can get to it before then @paul-hammant.

[2020-03-22 05:50] paul-hammant commented on #198
US health services group Deaconess Health Systems shares a mask design as part of their appeal for **cloth masks** (March 20):

PDF: https://www.deaconess.com/How-to-make-a-Face-Mask/Documents-Mask/Mask-Information Video: https://youtu.be/9tBg0Os5FWQ

US health services group Providence shares a **cloth mask** design video (March 21) - part of their "100 million mask" initiative:

Video: https://v

[2020-03-22 05:54] paul-hammant opened #203 "Pro cloth-mask section needed."
**In the last two days:**

US health services group Deaconess Health Systems shares a **cloth** mask design as part of their appeal for cloth masks (March 20):

PDF: https://www.deaconess.com/How-to-make-a-Face-Mask/Documents-Mask/Mask-Information Video: https://youtu.be/9tBg0Os5FWQ

US health services group Providence shares a **cloth** mask design video (March 21) - part of their "100 million ma

[2020-03-22 05:54] paul-hammant commented on #198
I stand by what I said - "do not hard surgical masks" https://github.com/flattenthecurve/guide/issues/203 is for pro-mask content.

[2020-03-22 06:01] paul-hammant commented on #198
As reqeuested https://github.com/flattenthecurve/guide/pull/204

[2020-03-22 06:16] paul-hammant commented on #203
And because there are going to be those that argue back, the studies are on my site https://cv-masks.github.io

[2020-03-22 06:23] paul-hammant commented on #198
And as @jaysonvirissimo said, much of that section just needs to go. Nobody on earth can remain associated with the "masks don't work messaging".

[2020-03-22 08:33] tkhans commented on #141
thanks, Will this idea be added to the 'DO' section of flattenthecurve?

[2020-03-22 10:18] anarchodoc commented on #34
Hi, thanks @jaysonvirissimo for the ping. As you can imagine, I'm now getting busy with other work :/

I have huge misgivings about masks, based on this article in the BMJ and on my broader knowledge about people (I'm a medic and an epidemiologist).
BMJ abstract: https://www.bmj.com/content/350/bmj.h694 however the article requires login so if you can't get it try looking for the reference in SciH

[2020-03-22 12:23] mverzilli commented on #180
Merged!

[2020-03-22 12:23] #180 closed

[2020-03-22 14:50] jackiedelc opened #206 "Moving content on homepage into a new tab "Reality""
Please report the issue under the appropriate header below.

**Content to be added or changed:**

Please move all content under "Yes, this is bad" on the Homepage to a new tab called "Reality" (we can change the name of this tab as we go along since we have not agreed on it yet... we have agreed on the content being moved). Please also remove this text:

"About the authors
More about the authors h

[2020-03-22 15:16] paul-hammant opened #207 "LICENSE.txt file missing from repo root."

[2020-03-22 15:51] nicolevasilevsky commented on #141
yes @tkhans

[2020-03-22 16:18] mverzilli commented on #198
Just merged https://github.com/flattenthecurve/guide/pull/131 that removed the whole section. @paul-hammant I did see your PRs but since the section was going away I didn't want to act on those to avoid inconsistencies. Please feel free to open a new one with a new do/dont reflecting this conversation.

[2020-03-22 16:34] #207 closed

[2020-03-22 16:35] mverzilli commented on #207
Done, thanks for pointing this out!

[2020-03-22 16:39] mverzilli commented on #146
Sure @emersonthis! Do you want to take care of that?

[2020-03-22 16:46] mverzilli commented on #174
This is now fixed AFAICT. Please reopen if you don't agree.

[2020-03-22 16:46] #174 closed

[2020-03-22 16:48] mverzilli commented on #158
@emersonthis AFAICT #191 solved this, can we close?

[2020-03-22 16:51] mverzilli commented on #157
It now points to the contribution guide

[2020-03-22 16:51] #157 closed

[2020-03-22 17:06] mverzilli commented on #48
Hi @pitviper6! I think for now we could add it to the translator FAQ at: https://github.com/flattenthecurve/guide/wiki/Content-translation

If you're ok with this idea, please write down the content you'd like to see in a comment below and mention me with @, I'll take it from there

[2020-03-22 17:09] mverzilli commented on #120
The title now displays the last update timestamp (see screenshot). Is that what you meant? Would you confirm so I close this issue?

<img width="1149" alt="Screenshot 2020-03-22 at 18 08 36" src="https://user-images.githubusercontent.com/651693/77255494-3f24db00-6c68-11ea-9c65-45d89a5b2147.png">

[2020-03-22 18:15] mverzilli opened #213 "Homepage redesign"
Let's use this issue to centralize all discussions and links to relevant content to put in the next version of the Homepage. @jackiedelc, @emersonthis, @weltyj  and myself will lead this effort.

Content is currently based in the following doc/s:

-https://docs.google.com/document/d/1m4HP1jIShnNqvxD5V7Q9MYbhU7pqSW1JAK89Q6WQ5zU/edit

Things we need to account for (feel free to suggest others):

- [

[2020-03-22 18:25] emersonthis commented on #158
My PR only addressed the do and don’t page. The issue was on other pages too, but those may have been fixed too

[2020-03-22 20:20] matiasgarciaisaia commented on #135
zeit.co has improved our usage limit in exchange for [a Tweet](https://twitter.com/flattencurve/status/1240727894936236038) and [some attribution on the site](https://github.com/flattenthecurve/guide/commit/2ec308e5558bb2f2be19c4ec36dc39f95988a104). We should not hit the rate limit anymore.

[2020-03-22 20:20] #135 closed

[2020-03-23 00:00] emersonthis opened #214 "New navigation"
We did a short term update to the homepage in #146 but the wireframe included modifications to the navigation which have not happened yet...

<img width="590" alt="Screen Shot 2020-03-22 at 4 57 38 PM" src="https://user-images.githubusercontent.com/1728139/77266995-6e364f00-6c5e-11ea-9b3e-8e660ddec835.png">

We _may_ want to stall on this while some additional content reorganization is still happe

[2020-03-23 00:01] emersonthis commented on #146
[Done](https://github.com/flattenthecurve/guide/issues/214).

[2020-03-23 00:01] #146 closed

[2020-03-23 00:08] codejack42 opened #215 "Sheltering abroad, whether by choice or by circumstance"
**Content to be added or changed:**
Having now encountered a number of US residents sheltering abroad either by choice or circumstance, and from hearing the tales of people from Africa, India, and elsewhere sheltering in Wuhan, I realize that people sheltering abroad, and those who care about them, need some guidance as to what to do first and in the longer term.

Below I've inserted something tha

[2020-03-23 01:10] jmcmurry commented on #196
Here's [another](https://www.tmz.com/2020/03/19/34-year-old-california-man-dies-coronavirus-visited-disney-world-florida/)

A very simple age stratified mortality projection onto the age structure of Missouri highlights the fact that even though rates are much higher, younger person will contribute markedly to mortality. In addition relative to flu the risk ratio of death is probably 50 times in y

[2020-03-23 08:45] paul-hammant commented on #198
Section is still on the hosted site. Is there a delay on publication?  Netlift can use a GitHub WebHook to trigger build/deploys.

[2020-03-23 08:48] paul-hammant commented on #34
@anarchodoc do you mean a "shortage of surgical and N95/FFP1/2/3 masks" or do you mean to include cloth masks too when you say "shortage of masks" ?

[2020-03-23 09:28] anarchodoc commented on #34
@paul-hammant correct, I did not mean cloth masks or self-made ones.

[2020-03-23 12:16] weltyj opened #217 "Title wraps and obscures language selection links on narrow screen mobile device"
**Bug:**
The new title is wrapping over and obscuring the "english" and "espanol" language links on my samsung mini -- (screen width 540 pixels), the english and espanol language links are not functional.

**Suggested fix:**
I don't know for sure, 1) maybe the Jekyll title bar height can be increased so when the title wraps it won't wrap over the language links.  2) add a vertical space before the

[2020-03-23 14:25] nditada commented on #196
More support: https://www.bloomberg.com/news/articles/2020-03-19/coronavirus-in-young-people-is-it-dangerous-data-show-it-can-be

[2020-03-23 14:55] nditada commented on #196
More around children: https://pediatrics.aappublications.org/content/pediatrics/early/2020/03/16/peds.2020-0702.full.pdf

[2020-03-23 16:43] mattbell commented on #34
FWIW I don't think there is still a worldwide shortage of masks.  As the crisis ramps down in China, they now have crazy big production capacity (China is making 110 million+ masks a day).  Several of my friends are involved in very large volume purchasing of masks for distribution to hospitals in the US.

[2020-03-23 16:56] pitviper6 commented on #48
@mverzilli Thanks! I'll work on this soon. I've dropped out of sight because my partner is stuck on a ship returning from Antarctica. They just shut the borders of Uruguay (3rd port they've tried) and may be forced to cross the Atlantic to try to dock in the Netherlands. Working on getting the embassy to either repatriate him or do a critical medication drop before they cross the ocean....what wil

[2020-03-23 17:12] anarchodoc commented on #34
@mattbell  There's a definite shortage where I am (Europe). It will also take a  while for those masks to get places. and 110+ million a day isn't that many - there are how many people on the planet??

 And I bet people in Africa wouldn't agree with you either.

[2020-03-23 17:30] jaysonvirissimo commented on #34
@anarchodoc, @mattbell: I think we can agree that our recommendation should be conditional on facts on the ground for the various regions. For example, if there are shortages of PPE at local hospitals you should donate your N95s and wear/make cloth masks, but if there isn't you should wear them yourself, etc...

[2020-03-23 18:22] paul-hammant commented on #34
So we all agree "make/buy/use cloth masks good" ?  Can we work that into the site, please?

[2020-03-23 18:46] mverzilli commented on #48
Thanks for the update! Crossing fingers for your partner and stay safe 💪

[2020-03-23 19:11] mverzilli commented on #217
Would you provide a snapshot? I'm not being able to reproduce this at the moment

[2020-03-23 19:27] weltyj commented on #217
![Screenshot_2020-03-23-12-18-42](https://user-images.githubusercontent.com/34079596/77355377-91660a80-6d01-11ea-89ee-e7ec6cac653c.png)

[2020-03-23 19:34] mverzilli commented on #217
Sorry if this is a silly question, but I'm not sure why you closed the issue?

[2020-03-23 19:58] mmuller opened #221 "Broken link in Deutsch version"
**Bug:**
https://www.facebook.com/foto.php?fbid=10158003174454431&set=a.10150142889684431&type=3&theater trows 404 error.

![image](https://user-images.githubusercontent.com/518152/77357692-55de3700-6d27-11ea-8e3f-9705dba4bdbd.png)

[2020-03-23 20:25] weltyj commented on #217
Doh!  I fat fingered it.  Was in a rush to go for a walk before  the heavy rain came
Sent from Yahoo Mail on Android

  On Mon, Mar 23, 2020 at 12:34 PM, Martin Verzilli<notifications@github.com> wrote:

Sorry if this is a silly question, but I'm not sure why you closed the issue?

—
You are receiving this because you modified the open/close state.
Reply to this email directly, view it on GitHub,

[2020-03-23 20:53] weltyj commented on #217
When you do a preview snapshot, does that use a "cpu" cycle in Zeit?   If so -- when you have a branch with a fix, first let me know and I'll put that branch on my local repo and test it locally, saving a Zeit cpu cycle

[2020-03-23 21:30] jmcmurry commented on #202
What I have seen is people suggesting we out of "concern" for the health of Americans, refuse to shop at Asian markets, interact with Asians, etc. Open to ways to rephrase. I see how this is confusing.

[2020-03-23 21:41] nditada commented on #200
I am not sure I follow what this issue proposes to do, is this a discussion on adding that table as content somewhere? If so, where?

[2020-03-23 21:48] jmcmurry commented on #200
This is in lieu of the current section about policies, both in order to make it more internationally relevant, and in order to make it more about the facts than the implications. We could cut it completely, however the reason I had written it in the first place was to point out that the breakwaters that could have slowed this pandemic in the USA are simply not there. Ergo, personal action is a mat

[2020-03-23 21:49] weltyj commented on #217
Suggested fix:

line 40 in guide/_sass/minima/_header.scss  change:
    @include relative-font-size(1.2);
to
    @include relative-font-size(1.1);

That line affects the font size on small screen devices.

It now looks ok in all languages on my 540px wide screen.

Would you like me to make a branch and do a PR?

...ramping up my understanding of Jekyll from "no clue" to "extremely minimal" ;-)

[2020-03-24 00:22] jmcmurry commented on #214
This is a better homepage but act and prepare needs to be front and center especially now that people are getting the picture that this is a problem.

[2020-03-24 01:03] emersonthis commented on #214
@jmcmurry this issue is only about the navigation at the top. Are you commenting on that specifically? (The result of that diagram is left over from another issue)

[2020-03-24 01:12] jmcmurry commented on #121
Possibility of fomite transmission can't be ignored, especially now. 3 days would be the lowest limit I am comfortable recommending. 9 days, see https://github.com/flattenthecurve/guide/issues/34

[2020-03-24 09:25] codejack42 commented on #202
@jmcmurry Great, thank you, understood. I'll take a shot at re-phrasing. Use (or not) as you will.

++++ BEGIN RE-PHRASE DRAFT ++++

COVID-19 isn't racist. You shouldn't be racist either.

The only way through this mess is together.

If you're truly concerned about the spread of COVID-19 you must recognize that COVID-19 doesn't play favorites -- it infects all peoples equally regardless of race, e

[2020-03-24 09:46] mverzilli commented on #163
@nditada would you link the google form here?

[2020-03-24 11:00] codejack42 opened #224 "US, UK Doctors: "Change screening guidelines, lost sense of taste and smell""
**Content to be added or changed:**

**tl;dr:** _American Academy of Otolaryngology says loss of sense of taste and smell need to be added to the list of screening tools for possible COVID-19 infection. British Association of Otorhinolaryngology issues similar guidance. Loss of smell sense has been seen in patients ultimately testing positive for the coronavirus with no other symptoms. Germany rep

[2020-03-24 11:01] #106 closed

[2020-03-24 12:36] codejack42 opened #225 "Coronavirus can travel twice as far as official ‘safe distance’ and stay in air for 30 minutes"
**Content to be added or changed:**

**tl;dr:** _Contrary to current expert guidance: According to a study by a team of Chinese government epidemiologists, published in peer-review journal "Practical Preventive Medicine", the coronavirus that causes Covid-19 can linger in the air for at least 30 minutes, travel up to 4.5 metres, and be prevented by the potential target wearing a simple mask. Study

[2020-03-24 14:12] weltyj commented on #217
I pushed a branch to fix this bug as I decribed above.   Branch named issue_217

[2020-03-24 14:45] mverzilli commented on #217
Great, merged!

[2020-03-24 14:45] #217 closed

[2020-03-24 14:48] mverzilli commented on #12
@nditada this is taken care of AFAICT. Would you close this issue if that's the case?

[2020-03-24 14:49] mverzilli commented on #24
AFAICT this is done so closing to clean up the issue tracker a bit. @brian-bot feel free to reopen if you don't agree. Thanks!

[2020-03-24 14:49] #24 closed

[2020-03-24 14:50] mverzilli commented on #25
Assuming #29 solved this.

[2020-03-24 14:50] #25 closed

[2020-03-24 14:52] mverzilli commented on #39
This was addressed (see #58 for more info)

[2020-03-24 14:52] #39 closed

[2020-03-24 14:55] mverzilli commented on #73
Hi @simonespa there is now an Italian version the site. Head to https://github.com/flattenthecurve/guide/wiki/Content-translation if you want to contribute to keeping it up to date with the English version. Thank you!

[2020-03-24 14:55] #73 closed

[2020-03-24 15:00] mverzilli commented on #91
This was discussed and discarded in https://github.com/flattenthecurve/guide/pull/140

[2020-03-24 15:00] #91 closed

[2020-03-24 15:51] brian-bot opened #227 "duplicate "do" section"
**Bug:**
Under Act & Prepare, duplicate sections for "Spread the word"

**Suggested fix:**
Don't duplicate ;)

[2020-03-24 15:57] brian-bot opened #228 "Do not mix cleaning products bug"
**Bug:**
Currently has wrong header, which messes up TOC - and should be in the Don't section instead of the do section

**Suggested fix:**
Use H3 for header to be consistent with other headers - and moved to Don't section

[2020-03-24 16:45] #227 closed

[2020-03-24 16:46] #228 closed

[2020-03-24 16:46] jmcmurry commented on #121
One thing that the Lancet article doesn't directly address is the issue of mask destigmatization. If the messaging is that only sick people should wear masks, the assumption will be that people wearing masks are sick and vulnerable to prejudice. By normalizing (home-made) mask use, we could improve outcomes for everyone, not only because those who are symptomatic will feel free to use them, but al

[2020-03-24 18:12] mattbell commented on #121
I spent a lot of time researching mask reuse.  I put this Medium post up yesterday, and it has a significant section on mask reuse:  https://medium.com/@llebttam_45762/masks-work-wear-them-b450ac9f3b7d

I'd be happy to turn any portion of this into a post for flattenthecurve if you'd like.  Just let me know the scope and length and I can make it happen.

[2020-03-24 18:13] mattbell commented on #34
I spent a lot of time researching masks over the last couple of days.  I put this together into a post:  https://medium.com/@llebttam_45762/masks-work-wear-them-b450ac9f3b7d

I'd be happy to turn any portion of this into a post for flattenthecurve if you'd like.  Just let me know the scope and length and I can make it happen.

[2020-03-24 18:41] jonnydubowsky opened #234 "Broken Link in English Contribution section"
**Bug:**
In the contribution guide section on English Language Contributors (https://github.com/flattenthecurve/guide/blob/master/CONTRIBUTING.md) there is a 404 dead link:  (https://github.com/flattenthecurve/guide/tree/master/_content/en)

**Suggested fix:**

I looked for the correct link but haven't located it. I am happy to submit a pull request if anyone can point to correct location of the d

[2020-03-24 20:20] nditada commented on #12
Yes, done, thanks!

[2020-03-24 20:20] #12 closed

[2020-03-24 20:51] paul-hammant commented on #121
US health services group "Deaconess Health Systems" shares a mask design [PDF](https://www.deaconess.com/How-to-make-a-Face-Mask/Documents-Mask/Mask-Information) and [Youtube Video](https://youtu.be/9tBg0Os5FWQ) - Mar 20, 2020

US health services group Providence shares a mask design [video](https://vimeo.com/399324367/13cd93f150) - Mar 21, 2020 (part of their 100 million mask initiative)

[2020-03-24 20:54] paul-hammant commented on #121
A 2019 study on masks: [Modeling the Effectiveness of Respiratory Protective Devices in Reducing Influenza Outbreak](https://pubmed.ncbi.nlm.nih.gov/30229968) (Listed on the USA's "National Center for Biotechnology Information" site)

From that study's "Results" section: The level of compliance was assumed to be the same for the susceptible and infected populations. [...] A 20% compliance rate [of

[2020-03-25 01:49] jmcmurry commented on #202
I endorse this sentiment 150%, however it is very long. I love the closer though and would stick with just that.

"Racist assumptions lead to racist behavior. Racist behavior divides us, and in this pandemic situation, definitely works against us. If we divide ourselves according to race, ethnicity, or nationality, the virus wins and we all lose, plain and simple. If we unite ourselves regardless

[2020-03-25 03:38] jaysonvirissimo commented on #198
I think we can close this now that the offending section has been removed (although the idea of specifying the _kind_ of mask we mean in various places would generally improve things).

[2020-03-25 04:22] codejack42 commented on #202
Thumbs up on your view re length, closer, etc. I'm also happy to condense/re-write the "very long" draft I wrote previously. The existing closer is 56 words. If that's already the right message in the right number of words, cool, nothing else for me to do. But if not quite you want, tell me how many words you want and anything that's a must-have in those words, and I will produce the thing that yo

[2020-03-25 07:56] paul-hammant commented on #198
agree

[2020-03-25 07:56] #198 closed

[2020-03-25 09:06] #234 closed

[2020-03-25 17:02] rousik commented on #163
I have a prototype python script that creates md files from the spreadsheets, I will send git pull request shortly so you can review it. Missing bits: 1. slack notifications for when the spreadsheet gets new data, 2. actual verified_by column in the spreadsheet itself

[2020-03-25 19:56] brian-bot opened #239 "bug in about section related to Sean Markey's website"
**Bug:**
markdown missing a "("

**Suggested fix:**
add the paren

[2020-03-25 20:23] ChristinaB commented on #48
Is there a list of translations in process?  For example, we have doctors in Sri Lanka who could help with Singhalese, and could fill out the form, but not if there is already a team on that language.

[2020-03-25 20:34] rousik commented on #163
Script for pulling all responses from the spreadsheet into md files is here:
https://github.com/flattenthecurve/guide/pull/241

[2020-03-25 21:41] rousik commented on #163
And the spreadsheet responses are now hooked to post updates on #resources channel on Slack. When the import_resources.py script is run, it will pull in all the rows into md files. Currently the ApprovedBy verification is disabled but it's a very easy change to fix that.

[2020-03-25 23:47] #239 closed

[2020-03-26 04:46] jaysonvirissimo commented on #203
Related: https://github.com/flattenthecurve/guide/pull/242

[2020-03-26 04:47] emersonthis commented on #213
Progress on this: https://github.com/flattenthecurve/guide/tree/issue-213

[2020-03-26 08:56] mverzilli commented on #213
Awesome! Could you open a PR and label it with "WIP don't merge"? I want to try and get some help to advance a couple of things in parallel. In particular, @nditada or @matiasgarciaisaia, a question for you: this line of work might result in several content files being moved and/or renamed (see: https://github.com/flattenthecurve/guide/tree/issue-213). What will be the impact of that for existing

[2020-03-26 09:07] #177 closed

[2020-03-26 09:19] mverzilli commented on #48
Yes! Here: https://app.lokalise.com/projects

[2020-03-26 13:50] matiasgarciaisaia commented on #213
If a section gets moved and the filename only changes its number (ie, from `_sections/home/en/01-context/08-the-us-healthcare-system.md` to `_sections/en/01-context/15-the-us-healthcare-system.md`), the system will still be able to load the translations.

If we move them from the `en` directory, we'll probably have to fix the scripts that generate the site, export the texts and import the translat

[2020-03-26 13:50] matiasgarciaisaia commented on #213
Also, remember that we can only preview PRs done _from this repo_, so instead of working in a fork, maybe import that branch in here first.

[2020-03-26 15:09] weltyj commented on #213
Strong vote here for keeping a canonical structure to the file tree.   Not only does it get confusing to find the markdown or image content files, but it makes it dramatically easier to consider writing scripting processes to automate some tasks that you'd like to do on a per language basis.   My current struggle was jekyll generates the website and drops the "en" from the url path for english, bu

[2020-03-26 16:48] jaysonvirissimo commented on #203
This issue can be closed now.

@steesdale, @mverzilli

[2020-03-26 18:07] rousik commented on #97
https://github.com/flattenthecurve/guide/pull/249 for this

[2020-03-27 01:04] rousik opened #253 "Consider adding linting to md files"
As per slack conversation w/ @nditada, translation are often inadvertently making preventable mistakes (e.g. spaces between [] () in links and such). It is possible that some of these problems (and probably whole different set of others) could be discovered by having linter enabled for our md files.

I have tried to use markdownlint-cli (availabe via NPM) and it reveals a lot of issues, here's sum

[2020-03-27 04:26] #203 closed

[2020-03-27 04:52] jaysonvirissimo opened #255 "Consider adding "Do take vitamin D supplements if you are likely deficient""
**Content to be added or changed:**
Taking vitamin D supplements likely reduces your risk of complications caused by coronavirus.
Here is some corroborating sources include:

[Association between serum concentration of 25-hydroxyvitamin D and community-acquired pneumonia: a case-control study](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5692194/)

[Relationship Between Vitamin D Status and Viral

[2020-03-27 09:20] mverzilli commented on #253
I think it's a good idea provided we can set it as a post commit hook. We can't expect content contributors to set a linter up given in general we need to assume a life sciences background (AFAIK most people directly edits on GitHub).

[2020-03-27 20:58] nditada opened #256 "Typos"
![unnamed](https://user-images.githubusercontent.com/1359189/77799923-9229d400-7054-11ea-83de-9d6901d37a65.png)

[2020-03-27 20:59] nditada commented on #256
![unnamed-2](https://user-images.githubusercontent.com/1359189/77799958-a1108680-7054-11ea-9b55-936ed4706674.png)

[2020-03-27 21:00] nditada commented on #13
Yes, and I don't think we are in a position to do this well for now.

[2020-03-27 21:00] #13 closed

[2020-03-27 21:46] pitviper6 commented on #202
Changed to the new paragraph and created pull request #257 (wasn't able to link it)

[2020-03-27 22:29] nditada commented on #163
https://docs.google.com/spreadsheets/d/1QSQgxceR8BL03qsR-GY8bw4tsdsx30kovU7wVXPUcxo/edit#gid=505503892

[2020-03-27 22:30] nditada commented on #163
What is missing to wrap this up? A way to trigger automatically the py script?

[2020-03-27 23:07] rousik commented on #163
1. pull request needs to be approved and integrated: https://github.com/flattenthecurve/guide/pull/248
2. documentation of the process needs to be put up on the wiki
3. we need set of volunteers or process to verify/approve incoming resources
4. we need to either run the script by hand or automatically via cron

[2020-03-27 23:08] rousik commented on #163
I think we can leave (4) as manual ops while the rate of incoming resources is low

[2020-03-28 00:17] jmcmurry commented on #255
Good call; however, vitamin D is manufactured by the body in response to sunlight, so we need to also advise that people also not underestimate the importance of the outdoors. "Get outside, get into nature, and make your own discoveries" - Dr. Scott Sampson

[2020-03-28 00:36] jaysonvirissimo commented on #255
In that case, maybe it should read “Do ensure you get enough vitamin D” and then give a few strategies including supplements and sunlight.

[2020-03-28 02:08] emersonthis commented on #213
PR: https://github.com/flattenthecurve/guide/pull/254

[2020-03-28 16:32] jmcmurry commented on #225
When you say "survive in feces" do you mean they recovered viable virus, or that this was still RNA+?

[2020-03-28 16:34] jmcmurry commented on #255
Indeed; outdoors is also vital for people's mental health. Great summary here: https://www.washingtonpost.com/outlook/2020/03/24/dont-cancel-outdoors-we-need-them-stay-sane/

[2020-03-28 16:52] weltyj opened #259 "Very nice video for lay people explaining exponential growth & FTC concepts"
**Content to be added or changed:**
For Resources.

https://www.youtube.com/watch?v=fgBla7RepXU

[2020-03-30 09:27] mverzilli commented on #163
For 4 we can simply add a daily reminder in #devops so that someone remembers to run it.

I'll do my best to take care of 1 and 2 tonight.

[2020-03-30 19:35] #255 closed

[2020-03-30 19:54] matiasgarciaisaia commented on #163
I've added a [temporary] reminder in the channel. Whenever we have (2) sorted out, we can update it with better instructions.

[2020-03-30 19:57] nditada commented on #163
Great, and (3) can be left out, we have already agreed internally that the content is self-moderated and there's a disclaimer on the page about that.

[2020-03-30 20:03] #97 closed

[2020-03-30 20:21] rousik commented on #163
The script has been merged to head. I have described the current protocol here:
https://github.com/flattenthecurve/guide/wiki/Processes#adding-content-to-resources-page

[2020-03-30 20:26] rousik commented on #163
The next steps here are:
1. try to improve the process for aggregating the new resources (better slack notification, pre-populating approved resources page)
2. regenerate current _resources/ contents
3. look into automating the script. I was thinking that it could create PRs if there are some changes. Then all we'd have to do is approve those when they show up.

[2020-03-30 20:55] jaysonvirissimo commented on #202
@codejack42 we can close this now @pitviper6's changes are in production. 👍

[2020-03-30 21:29] #213 closed

[2020-03-30 21:48] #202 closed

[2020-03-31 21:07] rousik commented on #256
New page redesigns removes this text.

[2020-03-31 21:07] #256 closed

[2020-03-31 21:09] rousik commented on #163
Google Apps Script now automatically copies content into the Approved Resources upon submission and I have PR with the github action that should automatically run the import_resources.sh and create Pull Requests. This should be the only step necessary for human intervention w.r.t. importing new resources.

[2020-03-31 23:37] jaysonvirissimo commented on #1
This paper is not so easy to find, but here are some clues:
PMID: 21870667
DOI: https://doi.org/10.5055/ajdm.2011.0058

[2020-04-01 03:32] jaysonvirissimo commented on #1
I've reached out to several of the authors for the paper and am waiting to hear back... 🤞

[2020-04-01 03:47] steesdale commented on #1
Hey @jaysonvirissimo what are you trying to find?

Not sure if this helps, but:

The WHO carries out the JEE evaluation - https://www.who.int/ihr/procedures/mission-reports/en/

These are widely thought of as the most current/comprehensive evaluations of readiness.

Resolve to Save Lives has a helpful website sharing these: https://preventepidemics.org/

[2020-04-01 03:56] jaysonvirissimo commented on #1
I'm looking for [this](https://www.ncbi.nlm.nih.gov/pubmed/21870667) paper (not just the abstract), which I suspect is the source of the original "42 out of 100" claim. Those sources are good and relevant, but don't seem (to me) to actually contain the claim referenced on flattenthecurve.com. Does that make sense?

[2020-04-01 16:30] jaysonvirissimo commented on #1
One of the authors of that paper gave me the complete copy and it doesn't score the US as "42 out of 100" (although it does mention that "Only 42 percent of respondents felt that their ED was prepared in the event of a pandemic influenza or other disease outbreak").

Is it possible the person in the webinar misspoke?

IMO, we should just re-word this section using only claims that can be easily ve

[2020-04-01 16:43] steesdale commented on #1
Agreed - can we also mention the JEE scores and the dates that they were generated?  the 42 percent article is from a decade ago as well.

[2020-04-02 03:38] jaysonvirissimo opened #276 "Explain what curve should be flattened on the index page"
**Content to be added or changed:**
When a new user visits the website they see the following:
<img width="1115" alt="index-page" src="https://user-images.githubusercontent.com/1292454/78208147-81180300-7458-11ea-8619-663fb26e09a1.png">
But...this doesn't explain what curve we're talking about, nor why it should be flattened.
I don't think we should assume users already have this knowledge when th

[2020-04-02 15:43] #134 closed

[2020-04-03 04:27] nicolevasilevsky opened #279 "Add section on mental health"
From @chelsearobinson - a suggestion to add content on mental health. This could go under the 'Do' section.

**Content to be added or changed:**

Here is an example:

“By Eileen Feliciano | NYS Psychologist
‘After having thirty-one sessions this week with patients where the singular focus was COVID-19 and how to cope, I decided to consolidate my advice and make a list that I hope is helpful to all

[2020-04-03 04:29] nicolevasilevsky commented on #279
This content looks really good to me, it's a bit long though. is it possible to create a separate page for this advice and link to it from the main 'do' page?

[2020-04-03 04:59] nicolevasilevsky opened #281 "add section on self care specifically for asian-americans"
@linhphuongvu suggested we add a section on how asian americans can self-care while facing the racism and xenophobia amid the pandemic

related to #279

[2020-04-03 05:05] nicolevasilevsky commented on #279
I see this is on a website already, we can just link to the website:
http://www.sfu.ca/olc/blog/my-ssp/mental-health-wellness-tips-quarantine

[2020-04-03 09:39] mverzilli commented on #279
Great! I was going to suggest that should be an article somewhere we link to, so we don't have to make the site more complex. Maybe we can add a do/don't paragraph with a TL;DR or motivation, and then add this link with a "read more here"

[2020-04-03 09:40] #4 closed

[2020-04-03 16:47] jmcmurry commented on #281
This is a great idea. I am not qualified to write this, however. I would find something out there and link to it.

[2020-04-03 16:57] jmcmurry commented on #279
OMG this is AWESOME. Yes, let's promote it; there's no license so we can't copy it.

[2020-04-03 21:18] jaysonvirissimo commented on #21
@nditada, @nicolevasilevsky: looks like we can close out this issue now.

[2020-04-03 21:20] #21 closed

[2020-04-03 21:35] mpitid opened #284 "Handle accents correctly in uppercase transformed text"
**Bug:**
Languages with different accent rules for uppercase like Greek are not handled correctly when text-transform: uppercase is used.

**Suggested fix:**
Possible workarounds here: https://stackoverflow.com/questions/28783259/how-do-i-make-text-transformuppercase-work-properly-with-greek/28790147#28790147

I can see the  following template but when I inspect the DOM I see lang=en on the elemen

[2020-04-03 21:45] mpitid commented on #284
Testing with Chrome DevTools this appears to work (note you need to edit the text as well for it to pick up the attribute change).

[2020-04-03 21:50] mpitid commented on #284
This appears to only be an issue on the landing page, other sub-pages have the correct page.lang value.

[2020-04-03 22:27] jaysonvirissimo commented on #69
Is there an existing section that you think this advice could be naturally worked into @codejack42 ?

[2020-04-03 22:55] jaysonvirissimo commented on #276
A higher res version of this would work, I think:
![1500x500](https://user-images.githubusercontent.com/1292454/78411122-762db180-75c3-11ea-8edb-de7b0ca1d20b.jpeg)

[2020-04-04 02:10] rousik commented on #163
This should be done now. The entire setup is documented here:
https://github.com/flattenthecurve/guide/wiki/Processes#resources

The only remaining manual step is approving PRs that are automatically generated each day if new resources are coming. We might consider running the action more frequently as it doesn't result in PRs in case no new resources are available.

[2020-04-04 02:10] #163 closed

[2020-04-04 02:11] rousik commented on #259
I have added this video to Resources and it should be automatically integrated in a day or so.

[2020-04-04 02:11] rousik commented on #259
Feel free to reopen this bug in case we want to surface this video more prominently - which might be a good idea given that it kind of summarizes what all of this is about.

[2020-04-04 02:11] #259 closed

[2020-04-04 02:31] rousik commented on #42
I have noticed that link in contact-en.md is pointing nowhere so I have adapted it to point to the same guide as is referenced in /contribute - see this PR: https://github.com/flattenthecurve/guide/pull/287

What parts of guide do we want/need localized? I expect that all translators need to be fluent in English anyway (or do we expect indirect translations as well?) and all other work coordinatio

[2020-04-04 02:32] rousik commented on #42
I also expect that once the link is fixed in contact-en.md, translations in lokalise will need to be adapted as well.

[2020-04-04 04:21] jaysonvirissimo commented on #127
@jmcmurry: looks like this issue was adequately addressed, so we can close this issue.

[2020-04-04 04:27] jaysonvirissimo commented on #50
@pitviper6: is your intention to add a lexicon to the site, define these inline (perhaps in parentheticals upon first use), or turning the words into hyperlinks? I agree that we are currently throwing a lot of jargon as people all at once and that might be turning some people off.

[2020-04-04 04:33] pitviper6 commented on #50
I didn't really know - I was holding off to see how the site developed. Maybe hyperlinks to the most relevant definition source?

[2020-04-04 18:09] emersonthis commented on #206
It appears that a variation of this happened already when the homepage launched... @jackiedelc please feel free to re-open this or perhaps a new issue if everything wasn't adequately addressed.

[2020-04-04 18:09] #206 closed

[2020-04-04 18:10] emersonthis commented on #214
This is old news.

[2020-04-04 18:10] #214 closed

[2020-04-04 18:15] #127 closed

[2020-04-04 18:20] emersonthis opened #294 "Reorganize DOs and DON'Ts content"
It's been widely agreed that the current structure no longer makes sense. The plan is to divide the content into smaller thematic "chunks". The exact strategy is still being discussed [on Slack](https://flatten-the-curve.slack.com/archives/CV619KQUB/p1585887711004300).

This issue will get updated as that work takes shape...

[2020-04-04 19:02] emersonthis opened #295 "Non-English DO / DON'T content is out of sync"
This should probably be broken into smaller issues to deal with language versions individually, but this should be done by someone more familiar with the translation process (than me). Also, it doesn't make sense for this work to happen right now, because we're in the process of [reorganizing the DO & DON'T content](https://github.com/flattenthecurve/guide/issues/294).

This issue is basically a p

[2020-04-04 19:13] #1 closed

[2020-04-04 19:15] emersonthis commented on #294
I just invited @ShaynaKorol and Chelsea to this doc: https://docs.google.com/document/d/10-beltiY0aqNrZSmm3i6bXtyov-MDfqan4zL2sXLdlU/edit#

[2020-04-04 20:36] emersonthis commented on #284
@mpitid Is it accurate to restate the issue like this: the lang attribute is not being set to the correct language on the homepage?

[2020-04-04 21:12] mpitid commented on #284
I think so yes.

[2020-04-04 21:19] emersonthis commented on #294
From the doc linked above... The links point to the existing content associated with that item. The items with `?` I'm considering removing (awaiting more feedback).

### How to stay safe

*   [Stay home](https://www.flattenthecurve.com/act-and-prepare/#stay-home)
*   [Wash your hands](https://www.flattenthecurve.com/act-and-prepare/#wash-your-hands)
*   [Don’t touch your face](https://www.flatten

[2020-04-04 23:12] #190 closed

[2020-04-05 00:39] emersonthis commented on #284
@mpitid When you have a second, please look at the screenshots (or the preview site) from [this PR](https://github.com/flattenthecurve/guide/pull/297) and confirm if the accents look correct now.

[2020-04-05 00:51] emersonthis opened #298 "Navigation breakpoints don't "fit" for Greek and Russian"
**Bug:**
The breakpoint that determines when the navigation gets hidden behind the hamburger works for English and the romance languages. But the words are longer for Greek and Russian, so there's an awkward overlap on "in between" size screens (tablets, etc)

<img width="1627" alt="Screen Shot 2020-04-04 at 5 40 13 PM" src="https://user-images.githubusercontent.com/1728139/78464237-aea0be80-769b-

[2020-04-05 01:13] emersonthis commented on #276
@jaysonvirissimo How about if we reword the italicized text right below "Flatten the Curve" to be more explanatory in the way you requested. Any ideas?

[2020-04-05 01:28] emersonthis opened #299 "Tons of console errors starting docker"
When I run `docker-compose up` I see this...

<img width="990" alt="Screen Shot 2020-04-04 at 4 06 06 PM" src="https://user-images.githubusercontent.com/1728139/78464734-cbd88b80-76a1-11ea-8c8f-578f64871010.png">

I'm on a Mac...
MacOS v10.15.3
Docker Desktop v2.2.0.4

[2020-04-05 02:36] jaysonvirissimo commented on #299
@emersonthis: YAML gives special meaning to the `:` character, so if you want to use it in the name itself, you have to wrap the value in double quotes. Please checkout the branch from my PR and verify that it fixes the console errors you experienced.

👍

[2020-04-05 06:22] jaysonvirissimo commented on #276
I'm sure a marketing person could do better, but to get us started:

[2020-04-05 11:27] mpitid commented on #284
Looks good to me, but see comment on the PR.

[2020-04-05 11:29] #284 closed

[2020-04-05 17:01] emersonthis opened #303 "Broken main navigation"
There's a random, extra "Flatten the Curve" link in the navigation.
<img width="1627" alt="Screen Shot 2020-04-05 at 9 59 03 AM" src="https://user-images.githubusercontent.com/1728139/78504840-5235b180-7724-11ea-8ae8-bd794a2049c4.png">

[2020-04-05 17:09] emersonthis commented on #276
There was a ton of thought and discussion about the newest iteration of the homepage. I can't summarize it all here, but the short explanation is that we wanted to keep the homepage super focused on achieving [the core mission of the site](https://www.flattenthecurve.com/about/#purpose), which (despite the name) is *not* actually teaching people about what the curve is. We're prioritizing the _wha

[2020-04-05 17:54] emersonthis opened #304 "Incorrect lang attribute on Resources page"
**Bug:**
We noticed this exact same problem on the homepage: #284
The language buttons work but the page's `lang` attribute does not change from `en`. This matters because CSS needs this to know how to correctly format accents, etc for certain languages (like Greek).

<img width="1627" alt="Screen Shot 2020-04-05 at 10 53 54 AM" src="https://user-images.githubusercontent.com/1728139/78505994-d8a1c

[2020-04-05 19:10] emersonthis opened #308 "Convert resources page to TOC layout"
The Resources page has gotten large and has multiple headings. I suggest we convert this to use the same `toc` layout (on the What to Do page) so that it's more navigable.

@mverzilli or @nditada Let me know if you endorse this.

[2020-04-05 22:55] jaysonvirissimo commented on #276
@emersonthis: understood. How about this then:

[2020-04-06 15:53] emersonthis commented on #276
That sounds pretty good to me. I might say "so we can slow the spread" so it's a little more direct and personal. If you can get some buy-in from people in charge I endorse this change.

[2020-04-06 16:27] rousik commented on #299
My recent PRs should have fixed this issue.

[2020-04-06 16:27] #299 closed

[2020-04-06 16:31] rousik commented on #295
I have found that page-styling and layout leaks into the translation quite significantly and we've had several rounds of non-english content falling behind and being buggy (e.g. when headers were reorganized or new home page design was rolled out). I wonder whether we either 1. can somehow provide better insulation between styling and content or 2. ensure that we can have some process for revisiti

[2020-04-06 16:36] rousik commented on #295
What might make sense is to keep POC person for each language and fire off "please sync translation" requests when we reach significant overhauls or when language lags behind to a considerable degree so as to prevent organic bit-rot.

[2020-04-06 16:42] rousik commented on #221
This content is no longer present in the EN original, so this problem should go away once the DE translation is updated to reflect the current status quo. Related to https://github.com/flattenthecurve/guide/issues/295 @emersonthis fyi

[2020-04-06 16:42] rousik commented on #221
I think the best approach would be to fold all these bugs into "translations need updating".

[2020-04-06 16:47] emersonthis commented on #295
Thanks for starting this conversation! I’ve been thinking about this a lot and wanting to help make it smoother, but I don’t known much about the automation related to translations...

If I understand correctly, what you said about the styles etc leaking into the content / translations is at the heart of this issue. Sounds like we either need to work some magic to work around the styles, or maybe

[2020-04-06 17:22] rousik commented on #158
I have looked for '^# ' tag in the md pages and only found this in CS. These are result of outdated CS translation that hasn't been synced for a while and should be fixed next time we integrate from Lokalise.

[2020-04-06 17:30] rousik commented on #34
CDC is now reversing its recommendations, suggests wearing masks in public and various states are rolling out recommendations for home-made masks in public (e.g. Colorado). I think we should follow suit and update our website accordingly.

[2020-04-06 17:57] rousik commented on #76
I presume you're talking about when we refer to the authors of the website? Instructions about what a person should or should not do are AFAIK fine and appropriate to be written in 1st person.

[2020-04-06 18:06] jaysonvirissimo commented on #34
@rousik: we already have a ["Wear a facemask when in public"](https://www.flattenthecurve.com/act-and-prepare/#wear-a-facemask-when-in-public) section.

@josselex we can close this issue now. 👍

[2020-04-06 18:10] jaysonvirissimo opened #311 "Common symptoms table now doesn't render properly"
**Bug:**
![Screen Shot 2020-04-06 at 11 08 48 AM](https://user-images.githubusercontent.com/1292454/78590729-233c4000-77f7-11ea-8864-bf133a7e0f09.png)

This was working last week, so is likely a recent regression.

[2020-04-06 18:11] rousik opened #312 "Resource url links are invalid"
I have just discovered that urls on the resource pages are incorrect which renders the entire page useless. I'm going to quickly investigate and fix this.

[2020-04-06 18:19] rousik commented on #312
Looks like resource.url is special attribute that gets populated with the resource md file location. I'm switching all resources to use resource.target instead and will modify both the import script and the spreadsheet to reflect this change.

[2020-04-06 18:28] rousik commented on #312
Content should be fixed now, PR for fixing the import script is out for review too.

[2020-04-06 18:35] #34 closed

[2020-04-06 19:21] jaysonvirissimo commented on #55
@jmcmurry: is there anything you know of that's out of date on the site with the latest WHO guidance?

[2020-04-06 20:27] mellybelly opened #315 "Update language on landing page"
"Up to date information about COVID-19 for everyone, verified by medical experts."
- this is a very strong statement that in the medical community would include validation SOPs, governance,  and people with proper credentials.

I suggest some softer language such as "by the scientific community" with a link to the contributors page.

[2020-04-06 23:24] nditada opened #318 "Optional note for pending scientific verification"
We should have a separate .md file that can be displayed on the top of the translated Act & Prepare page that reads "This translation has not yet been verified by a scientist, if you can help please register [here](https://forms.gle/aPtMHFstGb5Dpod99)".

That will allow to get translations out of the door when they are ready, and increase the chances of finding a person that can verify the accurac

[2020-04-07 00:18] #276 closed

[2020-04-07 00:28] emersonthis commented on #158
I opened this a while ago and fixed a couple opportunistically while doing other things. Sounds like there aren't any left that we need to worry about? If so, feel free to close those...

Thinking about the future, would it be hard to modify our automated script magic to guard against future unwanted H1s slipping in? Seems like something a simple regex could do? `\#[^\#]`. I don't think this is so

[2020-04-07 00:51] emersonthis commented on #318
@nditada Is this deliverable here for translators to provide the 7 different translations of:

Or is there engineering effort here too? Is the idea for the message to appear/disappear automatically? And what is the scope of the warning? Is it one message for the entire page? Or do we apply the disclaimer selectively to the individual entries?

[2020-04-07 00:56] emersonthis commented on #303
@mverzilli Mentioned [on Slack](https://flatten-the-curve.slack.com/archives/C0106UY8ZBQ/p1586106468001000):

[code]

[2020-04-07 01:42] rousik commented on #318
Maybe this has been discussed but I was wondering what is the scope of the scientific validation/endorsement?

As we keep on updating translation to keep pace with rapidly changing original content, how do we re-verify that the changes are still "good" and we are not introducing information that is not approved? If we decide that scientific review is bound to a specific revision, how do we ensure

[2020-04-07 01:43] rousik commented on #318
Once we agree on the procedure I think I can tackle the technical component of this.

[2020-04-07 03:27] matiasgarciaisaia commented on #318
@emersonthis I guess the idea of having that notice as a separate file is for translators to be able to translate it with the rest of the site - and decide at build time whether to include that notice or not.

@rousik the idea is that, under normal circumstances, every new published version of the site has scientific validation - so no need for the notice here.

But there are cases in which we don

[2020-04-07 03:27] matiasgarciaisaia commented on #318
So probably two different workflows, or have any way of parameterising if the build show include the notice or not.

[2020-04-07 04:40] rousik commented on #318
Also see related conversation here:
https://github.com/flattenthecurve/guide/issues/295

Would it help to keep list of primary contacts and/or scientific reviewers
for specific languages? Language owners would help when we need to update
the contents (e.g. when design has changed and resulted in style
discrepancies in translations) while sci-reviewers would be helpful to
approve PRs when new langu

[2020-04-07 05:06] emersonthis commented on #318
How about a field I the yaml header that we use as a flag to turn the notice on or off? The a localized include for each language version of yur component?

[2020-04-07 09:29] #311 closed

[2020-04-07 09:30] #303 closed

[2020-04-07 20:37] #312 closed

[2020-04-07 20:53] rousik commented on #36
I have added this as a resource [here](https://forms.gle/2zi67brmMZ7byCvb8), it should show up under flattenthecurve.com/resources tomorrow at latest.

[2020-04-07 20:53] #36 closed

[2020-04-07 20:59] paigejarreau commented on #36
Amazing!

On Tue, Apr 7, 2020 at 3:53 PM Jan Rous <notifications@github.com> wrote:

--
Paige B. Jarreau, Ph.D.
Director of Social Media, LifeOmic <https://lifeomic.com/>

Science Communication Specialist
College of Science, LSU
Science Writer, www.fromthelabbench.com

Work/Cell: 317-201-0092
Twitter: @FromTheLabBench <https://twitter.com/#!/FromTheLabBench>

[2020-04-07 21:50] rousik opened #325 "Blue colors on "what to do", "stay informed" and "spread the word" are confusing"
We use blue color for these headers and for regular users, this blue is usually associated with the "clickable blue links". These headers are not actually clickable and that creates confusion. Either we should consider using different color or make these things clickable if we do have suitable targets.

This feedback comes from my partner who looked at the site and was confused about how to intera

[2020-04-07 23:18] rousik commented on #47
I agree that full side-by-side comparison of the two (mortality of flu vs covid-19 for various age ranges)  would be much more to the point and easy to quickly understand. I'm going to see how I can highlight this issue w/ our content team and if they agree with this change I can take care of it.

[2020-04-08 01:16] emersonthis commented on #294
Planning ahead for when we groom the individual entries... I propose that each of the following criteria should be met by every item we include on this page:

### Specifically relevant to COVID-19
No generalized advice that always applies, like "apply sunscreen"...

### Important and impactful
No trivial advice that doesn't really matter

### Useful to a general audience of laypeople
Not the place

[2020-04-09 03:13] rousik commented on #325
@emersonthis because I don't know anybody else who deals with UX :)

[2020-04-09 03:15] rousik opened #335 "Make "add new resources" more prominent"
People keep on asking how to add new resource to the site. This indicates that our current way (link to the google form on the resource page) is not sufficiently discoverable. We may want to consider exposing more prominent "add more resources" button somewhere more visible.

[2020-04-09 14:18] monicacecilia commented on #315
@mellybelly - as of 2020-04-09, I see that the word 'medical' has been removed (see screenshot below). Was that it? I'd ping someone about further updates. 🌷
![Screen Shot 2020-04-09 at 7 15 28 AM](https://user-images.githubusercontent.com/1714621/78904873-0ccdf880-7a32-11ea-822a-45f1417a0ad5.png)

[2020-04-09 19:42] jaysonvirissimo commented on #315
See [this](https://github.com/flattenthecurve/guide/pull/310) PR and the associated issue for additional context, but the word medical was dropped merely to save space, not in response to criticism about the strength of the claim.

FWIW, I am not against updating it to say "by the scientific community", although this seems less urgent now that we are leaving the _type_ of expert undefined.

[2020-04-09 22:41] jmcmurry opened #339 "add original FTC reference"
https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3557974/

[2020-04-10 00:06] jmcmurry opened #341 "Renaming sections"
| 04-yes-this-is-bad.md | OK
  | 05-this-is-not-normal-flu.md | OK
  | 06-keep-the-main-thing-the-main-thing.md | OK
  | 07-it-is-here.md | OK
  | 08-the-us-healthcare-system.md | No one is prepared
  | 09-relative-to-other-countries.md | Policies that help pandemic control
  | 10-there-is-hope.md | ok

[2020-04-10 02:40] emersonthis commented on #341
Possible duplicate of #294 ?

[2020-04-10 04:25] jaysonvirissimo commented on #60
@xloem: please fill out the form [here](https://docs.google.com/forms/d/e/1FAIpQLSeq8S04bKTHPQ_SjUoagZGWGx4ymHIGlkXuKAxVAeZDZcPQWg/viewform) to submit any resources we don't have yet in our [resources section](https://www.flattenthecurve.com/resources/), then would you close out this issue please?

[2020-04-10 10:57] xloem commented on #60
I've asked on the national mutual aid organizer's slack chat for some help reviewing this.  The chat is accessible at https://forms.gle/WoC8hBCtXtNWQ7zd6 .

[2020-04-10 11:22] ShaneCurcuru commented on #335
Separately: consider adding a link to submit GitHub PRs against content pages. This encourages anyone with GitHub experience to just dive in with their suggestion.  Obviously, this may not fit your workflow, but with the number of tech workers looking for ways to help, this is an easy way to hint to them you're looking for contributions.  You can also use a Pull Request Template to standardize how

[2020-04-10 11:29] ShaneCurcuru opened #342 "Consider switching license to CC-BY"
Please report the issue under the appropriate header below.

**Content to be added or changed:**
Change LICENSE to CC-BY-NC instead of CC-BY-NC-ND.

Unless there is a specific need to prevent remixing, use of CC-BY-NC-ND prevents most other websites or mutual aid groups from being able to incorporate any of your site content into their work.  If this is meant to be a sharable resource meant for pe

[2020-04-10 22:30] jmcmurry commented on #294
Thanks for looking at this this re-org looks great; I would, however like to keep the pandemic pal section. Was there anything else that was cut?

[2020-04-11 00:24] #200 closed

[2020-04-11 02:09] emersonthis commented on #294
@jmcmurry The Vitamin-D post was removed.

[2020-04-13 18:32] rousik commented on #325
Assigning to Emerson for further triage.

[2020-04-15 06:38] kendrahavens commented on #318
Hi there, I'm new here. :) Feel free to disregard if this was not the direction you wanted. I was mocking up the simplest solution while familiarizing myself a bit with the code base.

In my PR, by simply adding the include disclaimer below to any post in act_and_prepare
[code]

The following notes can appear:
1. Needs scientific review note at the top of the page
![image](https://user-images.gith

[2020-04-15 13:47] rousik commented on #318
Someone might need to confirm that this is indeed true but my understanding
is that sci-review should apply to the entire content release and not to
individual blocks of text. This may take a little more time per individual
review but it should be much simpler to deal with operationally.  I do like
the disclaimer.md approach and we can probably include this automatically
depending on the value of

[2020-04-15 20:25] rousik commented on #318
After digging deeper into Lokalise/scientific verification process I can see that each key gets reviewed separately, hence adding the sci-review notice to each piece of text that has not been reviewed might be the right way to go about it. I would still try to see if we can pull the review-status of each piece of text into the md files instead of manually keeping this fragment in the translation a

[2020-04-15 22:37] nditada commented on #318
That would be a super plus, but not a Must Have.

[2020-04-15 23:57] rousik commented on #318
After investigating Lokalise API I have discovered that we can pull different sets of strings using the filter_data flag. The relevant options are:
1. no restrictions. This pulls the most recent translation of every key. This is what the script does by default now.
2. reviewed. Pulls only keys where the latest version is also marked as reviewed.
3. last_reviewed_only: for each key, the latest vers

[2020-04-17 21:51] nditada commented on #318
That sounds like a super smart approach @rousik!

[2020-04-18 03:22] rousik opened #354 "Automatic detection of style drifts and translation mismatches"
When we do style changes or rework the layout of the site it can happen that the translated content drifts from the head. There may be different header depths, some css styling may not be applied. I have also encountered german translations where markdown markers were omitted entirely.

While we can probably catch some of these things manually it might be worth looking into whether we can detect s

[2020-04-18 03:23] rousik commented on #354
@emersonthis and @nditada for visibility

[2020-04-19 11:46] lgrn commented on #342
I would caution against using CC-BY-NC and instead suggest CC-BY just like @brian-bot. There are multiple issues with the NonCommercial license, one of them being that it's not clearly defined or understood by most what this addition means. From Wikipedia:

For proponents of NC I also recommend looking at: https://wiki.creativecommons.org/wiki/NonCommercial_interpretation#Choosing_NC_for_your_cont

[2020-04-19 14:34] mellybelly commented on #342
+1 to CC-BY

[2020-04-19 19:17] jmcmurry commented on #342
CC-0 is my preference, but +1 to CC-BY

[2020-04-20 14:14] nditada commented on #342
I am not a lawyer, but removing the no derivatives would allow people to actually change the content on top of the already permitted re-distribution. If I were one of the scientists "signing" the content, I would not want that. Others might know better the liability implications of those two components. My suggestion of the ND was an attempt to protect the team putting their name on the content.

[2020-04-20 15:31] rousik commented on #354
Prototype of this script has been pushed to md-syntax-compare branch:
https://github.com/flattenthecurve/guide/blob/md-syntax-compare/_scripts/compare_md_structure.py

The next steps are:
1. Run this script and figure out what is the right choice of tags to exclude/include
2. Identify structural differences in translation files that need to be fixed
3. See if this script could be run on language-p

[2020-04-20 16:07] rousik commented on #342
As I see it there are two things we are trying to resolve here:
1. Removal of NC, because of its legal complications/problems. It seems to me that we are in agreement on this.
2. Removal of ND. It seems to me that there's worry that we "sign off" on the content, someone takes it and creates derivative that misrepresents the facts while pretending that people have signed/approved of that?

I do not

[2020-04-20 16:13] rousik commented on #342
It seems to me that all derivative works need to be identified as such and link to the original content: https://en.wikipedia.org/wiki/Creative_Commons_license#Attribution

This should, in theory, make it more difficult to intentionally misrepresent the original information, if that is our concern.

[2020-04-20 16:15] ShaneCurcuru commented on #342
It depends on the purpose of the site.  If you are trying to be an academic site, then ND may well make sense if you're trying to be like a scientific journal where you quote pages via DOI or whatever.  Personally I don't see how ND really helps with that, but then again I'm an open source developer, not in academia.

If you're trying to be a general public resource site - where you want as many p

[2020-04-20 17:26] nditada commented on #342
Quoting a blurb would not constitute a derivative:

I understand the concerns nevertheless.  But the issue I describe still stands. I am not talking about an intentional misrepresentation.

In any case, this should be decided by @jmcmurry, @mellybelly and/or @nicolevasilevsky which have already 👍.  @mellybelly @jmcmurry can you confirm that you understand the possible implications of removing the

[2020-04-20 21:49] rousik commented on #318
https://github.com/flattenthecurve/guide/pull/357 changes `import_translations.rb` script to allow this. The functionality is flag-controlled and disabled by default.

[2020-04-20 21:54] rousik commented on #342
I have prepared PR that will switch licence to CC-BY. Please do not approve it until after the consensus is reached here. But once we are confident that CC-BY is what we want, approving that PR should fix this and automatically close this issue as well.

https://github.com/flattenthecurve/guide/pull/358

[2020-04-21 02:25] nicolevasilevsky commented on #342
I'm okay with switching to CC-BY.

[2020-04-21 23:57] rousik opened #361 "Guide people to the resource submission form"
We are still seeing lots of PRs where people try to add new resources by hand. It would be nice to have a mechanism where we could notify them that they should use the form instead. One possibility is to set up pre-submit check/warning. Another possibility would be workflow that detects non-automatic PRs touching _resources and issue a warning.

[2020-04-22 18:04] rousik commented on #308
I was wondering if a table that allows sorting/filtering using the existing attributes might be good fit for this as more and more content shows up.

[2020-04-22 21:45] jmcmurry commented on #342
Yep; let's proceed with CC-BY

[2020-04-22 22:24] #342 closed

[2020-04-23 00:31] emersonthis commented on #308
I like that idea but I have no idea how to implement it in a way that translators can maintain with only markdown. Maybe with lots of properties in the top content? I’m hesitant to “raise the bar” in this way given that we’re already struggling to maintain the simpler existing content across languages.

[2020-04-23 01:44] rousik commented on #341
It seems to me that Lokalise derives translation keys from filenames so changing filenames will result in "loss of translated strings" for each of these files. That said I'm currently investigating whether we could somehow group the duplicates in Lokalise and prevent this loss.

[2020-04-23 02:26] rousik commented on #308
Resources are not actually translated as far as I know.

On Wed, Apr 22, 2020, 18:31 emersonthis <notifications@github.com> wrote:

[2020-04-23 15:02] #294 closed

[2020-04-23 17:42] rousik opened #368 "Sync translation content with the reorganized act_and_prepare section"
PR #336 restructured act_and_prepare section. Our live languages need to be updated to catch up with these changes.

The changes that this PR introduces are:
1. addition of new content strings
2. modification of style in existing markdown sections (simplifies headers)
3. couple of files were renamed which changed Lokalise keys and dissociated these from the existing translations.

[2020-04-23 17:42] rousik commented on #368
@emersonthis and @nditada for visibility

[2020-04-23 17:46] rousik commented on #368
List of renamed keys:

| Original name | New name |
|--|--|
| lower-your-overall-risk | stay-home |
| stay-connected | avoid-crowds |
| shop-when-at-risk | shop-carefully |
| get-a-flu-buddy | pandemic-pal |

Keys added:

| Key |
|-|
| household-practices |
| how-to-not-get-infected |
| how-to-support-your-community |
| tips-to-reduce-stress          |
| what-to-do-if-you-get-sick  |

Keys removed

[2020-04-23 18:17] rousik commented on #368
My plan is to:
1. see if the renamed keys can be grouped together (I suspect that I may push the new content into the old keys and then use duplicate finder to link them together. Right now this is not possible because the content also changed when the files were renamed)
2. kick of lokalise translation task for the affected keys and all live languages

[2020-04-23 18:38] emersonthis commented on #368
Thank you for sorting this out!

[2020-04-24 15:39] rousik commented on #368
Key deduplication doesn't work the way I hoped for so we have to rely on translators to port the old content if they need to or translate from scratch. I may just add the notice about changing keys in case they want to look up the old content.

The lokalise tasks for this are:
https://app.lokalise.com/project/423383895e6b8c4b081a89.98184174/?view=multi&filter=task_102538
https://app.lokalise.com/p

[2020-04-24 16:36] rousik commented on #368
Czech translation updated.

[2020-04-24 18:11] rousik commented on #304
Note that we don't localize Resources pages so it's always in English, which means that we can expect to see mixed-language pages here.

Do you know what's the right approach in such situation?

[2020-04-24 18:17] rousik commented on #341
I have not found a good way to reconcile change of keys. For the recent act_and_prepare we have just decided to let it be translated and ported to the new keys. This was mainly because we did both content change and rename at the same time.

If we can ensure that translations of those keys are up to date, we might port the existing translations to the new keys in an automated fashion rather than h

[2020-04-24 19:06] emersonthis commented on #304
I should think about this more, but my first quick thought is that we should use the yaml attributes at the top of each resource entry to specify the language, then set the lang attribute accordingly on each entry. That we could have an entry that’s for Greece, written in Greek, and we won’t have typography problems.

Another option is to just write all the resources in English since they’re mostl

[2020-04-24 19:08] rousik commented on #304
The entries are all in English as of today.

On Fri, Apr 24, 2020, 13:06 emersonthis <notifications@github.com> wrote:

[2020-04-24 19:14] rousik commented on #304
I don't think we have mechanism in place to translate these and no plans to
translate them as of today so we can assume that the page will be in
English, possibly with the header/intro section translated?

It seems technically feasible to translate these but I'm not sure if it's
worth our energy and possibly limited translation bandwidth to focus on
that.

So until things change, let's assume this

[2020-04-24 19:15] emersonthis commented on #304
I still think we need to fix the lang attribute on the HTML tag so that the menu works correctly for all languages. But maybe we just wrap the main content in a lang=en-us and be done with it.

[2020-04-24 21:33] rousik opened #370 "Maintain or publish list of translation teams for each language"
When we need to update the existing content we can do that by creating Lokalise tasks. Ideally this would be run for all live languages and be assigned to current teams of translators for each language.

When I tried to do this for #368 I was unable to figure out who are the current translators for each language. It would be nice to have public list of translators for each languages so that we can

[2020-04-24 21:34] rousik commented on #370
Assigning to Nico as he probably knows the most about this area.

[2020-04-25 01:18] rousik commented on #295
I have opened #368 which tracks the effort to get all live languages in sync after the act_and_prepare reorg. I'm closing this as a duplicate.

[2020-04-25 01:20] rousik commented on #295
This issue is a duplicate of #368

[2020-04-25 01:21] #295 closed

[2020-04-25 01:23] rousik commented on #88
This issue should be no longer relevant because the picture in question is no longer shown.

[2020-04-25 01:23] #88 closed

[2020-04-25 17:12] rousik commented on #89
My understanding is that the site is aiming to provide practical information about what-to-do and rather linking to external pages/sources for information that evolves and changes. We did link to some of the "official" models outlining the course of the outbreak (one being https://covid19.healthdata.org/projections).

My understanding is that lockdowns/stay-at-home and long term strategy is one th

[2020-04-25 19:36] SokolskyNikita commented on #89
The website still includes a misleading unlabeled flatten the curve graph here: https://www.flattenthecurve.com/covid-19/. It should be amended to showcase exactly how long it would take for everyone to be slowly infected without overwhelming the hospitals.

There is now data from NYC (21% have antibodies) which makes this fairly easy to calculate.

[2020-04-26 17:13] rousik commented on #89
Thanks for pointing this out. I do believe our COVID-19 section needs a bit of overhaul and updating.

Back on the topic of herd immunity. I should disclose that I have no epidemiology/public health background. My expertise is dev-ops incident response so that's what influences my thinking and analysis.

I'm not sure if reaching herd immunity as fast as possible w/o overwhelming medical system is

[2020-04-26 21:03] SokolskyNikita commented on #89
@rousik The problem with this argument is that it completely goes against what "flatten the curve" was supposed to be. The strategy you're describing is "crush the curve", where we not only get below what the medical system can handle, but rather focus on saving as many lives as possible, even if we have hundreds of thousands of spare beds available (as is the case in the US right now). If this is

[2020-04-26 22:15] rousik commented on #89
Yeah. I agree. These were my thoughts and I don't know how much in line with opinions of others and with the overall intent of this site. I'm just voicing my concerns with a strategy of barely maintaining the curve just below the medical system capacity.

I will try to loop in more people to this conversation so that we can find some consensus and see if we can clarify the messaging.

Thank you ve

[2020-04-27 00:27] SokolskyNikita opened #372 "Is it "flatten the curve" or "crush the curve"?"
As discussed in [a related Issue](https://github.com/flattenthecurve/guide/issues/89), there now seems to be a disconnect in society over what "flatten the curve" actually means.

 1. Original meaning: "Let's shelter in place so that our hospitals are not overrun, while we stock up on PPE, medicine, hospital beds, etc, etc. Everyone will be infected anyway, but we should spread the disease out to

[2020-04-27 00:27] SokolskyNikita commented on #89
@rousik I've added a new Issue to discuss this: https://github.com/flattenthecurve/guide/issues/372

[2020-04-27 03:00] rousik commented on #89
Perfect, let's move the discussion there.

On Sun, Apr 26, 2020 at 6:28 PM SokolskyNikita <notifications@github.com>
wrote:

[2020-04-27 15:57] nditada commented on #308
correct, resources are not translated, the idea is that they can be posted in the relevant language

[2020-04-27 15:59] nditada commented on #370
I guess the source of truth should be Lokalise, but I have no idea how to pull that info programmatically from there...

[2020-04-27 16:27] #76 closed

[2020-04-27 18:31] rousik opened #374 "Launch swedish translation"
What is says on the tin. Ideally we would launch this along with the pending-sci-review notices (see issue #318)

[2020-04-27 18:34] rousik commented on #318
The script is submitted but the new behavior is off by default. I want to safely roll out to live languages and then enable by default. So there is still some work to do on this

[2020-04-27 22:51] rousik commented on #370
Looks like this information is stored in Lokalise in the form of contributors (not team-user entitites). Using the [lokalise2 cli](https://github.com/lokalise/lokalise-cli-2-go) and [jq tool](https://stedolan.github.io/jq/) I was able to extract the current user-to-language mappings.

First, I store `project-id: 423383895e6b8c4b081a89.98184174` and `token:` for my Lokalise account in `~/lokalise.y

[2020-04-27 23:04] rousik commented on #370
To extract reviewers, the one should start with `[.contributors[] | select(.is_reviewer) | ...`

[2020-04-27 23:38] rousik commented on #370
The reference command to create translators group for cs is this:
[code]

Unfortunately it seems that I don't have Lokalise permissions to do this ATM. Pending further permissions.

[2020-04-28 18:00] rousik opened #378 "Launch Dutch translation"
What is says on the tin. With pending-sci-review notices.

[2020-04-29 22:33] rousik commented on #368
Notes about renamed keys:

## stay-home
Drops the paragraph about US being in the initiation phase and link to CDC (seems okay)

## pandemic-pal
Drops the following snippet from the title:
_make back-up plans for care of children, pets, and those in need of special assistance_

Also drops the following paragraph:
_Those who are already struggling with pre-existing demanding medical conditions may

[2020-04-29 22:57] rousik commented on #368
I have reviewed diffs in the moving files and they're all trivial (collapsing double headers and removing outdated styling).

[2020-04-29 23:09] rousik commented on #368
Suggestion about donating medical equipment is now both in the `donate` section as well as under `do-not-hoard`, might be worth consolidation.

[2020-04-29 23:27] rousik commented on #368
Here are links to the files that were removed entirely:
[cancel-all-non-essential-travel](https://github.com/flattenthecurve/guide/blob/ec161b2e5b3d2cacb166442f41299d514d849f6e/_sections/act_and_prepare/en/02-do/06-cancel-all-non-essential-travel.md)
[do-not-attend-non-essential-public-gatherings](https://github.com/flattenthecurve/guide/blob/ec161b2e5b3d2cacb166442f41299d514d849f6e/_sections/act_

[2020-04-29 23:27] #368 closed

[2020-04-30 00:02] rousik commented on #318
Another PR improving how the notices are included is in flight, see #381. Notices will show up as soon as we 1. enable them by default or enable them for individual languages and 2. reimport the most recent translations for given language (which should trigger the inclusion of the notice).

The outstanding question is whether we should also show the notice on the COVID-19 page. My take is that we

[2020-04-30 01:53] emersonthis commented on #368
Thanks Jan!

For posterity, it’s worth noting that some of the items listed above as “removed“ were already covered elsewhere under different items. For example: “DO stay home” + “DONT go to work (or crowded places)”.

[2020-04-30 22:04] rousik opened #384 "Consolidate latest translation efforts"
Looks like both me and @bcardiff were working on improving the same process.

Brian has hooked Lokalise webhook to [preview-translations workflow](https://github.com/flattenthecurve/guide/blob/master/.github/workflows/preview-translations.yml) via https://ftc-lokalise-github.manas.dev/lokalise which is a black box as of now to me.

I have built cron-based [latest-translations workflow](https://git

[2020-04-30 22:29] rousik opened #386 "What to do links on homepage are not valid anymore"
http://scrgrb.in/cr9 - do/dont links are not valid for English anymore after act_and_prepare has been restructured.

Note that these links are valid for languages that have not been translated yet.

Ideally, the entire blue caption would be clickable and would bring people to Act and prepare section.

I have checked analytics and majority of people do not go beyond the homepage and I wonder whethe

[2020-05-01 00:25] emersonthis commented on #386
Looks like the link still works but it has a fragment that no longer exists (#do / #dont). We should probably tweak the language a bit too since we're no longer doing such a strict DO / DON'T format.

[2020-05-01 03:02] rousik commented on #386
Right, it's not outright broken but it makes no sense. I will try to think about how to update the language for this.

[2020-05-01 03:08] #386 closed

[2020-05-01 03:09] rousik commented on #386
well, nevermind, I saw your PR a bit too late :)

[2020-05-04 03:33] jaysonvirissimo commented on #372
More clarity would def be welcomed by me: if we are actually in favor of (2), it should be noted that although crushthecurve.com has been registered since 2014, it is actually already being used for a COVID-19 project.

[2020-05-04 04:21] jaysonvirissimo commented on #196
One approach for addressing younger cohorts might be to concentrate of morbidities rather than mortality (which they, rightly, believe they are at low risk for). Any thoughts on that strategy?

[2020-05-04 13:15] bcardiff commented on #384
Until now there are a couple of pieces to make the translations work.

### Getting English content from Github to Lokalise

On every build on master a i18n-en.json file is generated and uploaded to Lokalise. In https://github.com/flattenthecurve/guide/blob/master/.github/workflows/publish.yml#L35-L48 .

This is using a forked version of a GitHub Action to tweak some upload configuration needed for

[2020-05-04 23:09] #374 closed

[2020-05-04 23:09] #378 closed

[2020-05-05 15:00] rousik opened #393 "Images on COVID-19 page are not translated"
I have assumed that PNG pictures embedded on COVID-19 page used to have their labels translated. This is no longer case. I do not know why. We should try to fix that.

[2020-05-05 15:30] rousik commented on #393
The problem seems to be due to image paths. Absolute paths `/images/${stuff}.png` always point to the english version. If we use relative path such as `images/${stuff}.png`, this will not be found as the translated images reside under `/${lang}/images/${stuff}.png`. Relative to COVID-19 page this should be `../images/${stuff}.png`. Maybe there's a way to detect and fix these?

[2020-05-05 15:34] rousik commented on #393
Ideally there would be a programmatic way to fix /images/ paths to the correct localized destination when the site is built. It is unclear if that is easily possible.

[2020-05-05 18:59] rousik opened #394 "COVID-19 section entirely missing for several languages"
COVID-19 is entirely missing for the following launched languages: de, it, ru

This is pretty bad :(

[2020-05-05 19:26] rousik commented on #394
This will get fixed when we sync these translations with Lokalise. That said, it will result in pending-sci-review notices for a bunch of these languages so a short term solution here may be to deploy pending-sci-review notices to COVID-19 (PR #392 for this is pending) and do partial language refresh just for COVID-19 pages for affected languages. This breaks the styling somewhat but I believe som

[2020-05-05 19:30] rousik commented on #393
Alternatively we could "fix" this in the import_language.rb script by looking for `]((|/)images/*.svg)` and replacing it with `](/$lang/images/*.svg)` within files below `_sections/COVID-19`.

[2020-05-05 19:40] rousik commented on #393
I have used the following sequence for a temporary fix:

[code]

[2020-05-05 19:41] rousik commented on #361
I think that the above efforts may have helped.

[2020-05-05 19:41] #361 closed

[2020-05-05 19:42] rousik commented on #354
I have been using this script to spot check markdown issues in newly launched languages and it seems to be helpful. I will need to document the best practices around using it in our processes and, ideally, see if we could also automatically integrate it with language PRs.

[2020-05-05 19:58] #318 closed

[2020-05-05 20:42] rousik commented on #370
I'm still unable to run `lokalise2 team-user-group create` and I'm getting `403: Forbidden`.

[2020-05-07 01:42] jmcmurry commented on #372
When I first published this guide it was because I couldn't find the content elsewhere. Everything was either super anemic, over-confident, overly technical, or overly pedantic. The average citizen at least in the USA was therefore not well prepared.

There are practical limitations in terms of how quickly the content can shift and there are also ethical considerations and local needs that may dif

[2020-05-07 01:44] jmcmurry opened #397 "Concept of overshoot needs to be incorporated somewhere"
In either the flatten or the crush scenarios, one thing that is not getting enough plain language press is the concept of "overshoot". Some people are fatalistic about it "everyone's just going to get it", but they say this often without realizing that human behavior could have a dramatic effect not just on the number of fatalities but the number of infections.

[2020-05-19 14:42] rousik opened #402 "Fix preview action"
`translation-updated` workflow has started failing about ~3 days ago. Preview deployments are pushed to vercel but the script fails to determine/find the deployed url and subsequently fails to update PR with the address.

When I compare last successful run and the first failing one I can see that now CLI has been upgraded between the two runs:

This run uses now cli 17.1.1 and succeeds:
https://gi

[2020-05-20 13:52] rousik commented on #402
@bcardiff fyi

[2020-05-20 14:06] bcardiff commented on #402
Maybe the action https://github.com/amondnet/now-deployment should be replaced with the new one https://github.com/marketplace/actions/vercel-action .

The argument changed for the new zeit/vercel branding.

[2020-05-21 04:51] rousik commented on #402
Good idea. PR to do this switch https://github.com/flattenthecurve/guide/pull/403 is awaiting your approval.

[2020-05-28 17:13] rousik commented on #402
The action still can't find the deployment and complains that `zeit-team-id` is not known argument. I'm not exactly sure what are the values of these secrets and how vercel and now attributes relate to each other... But the change clearly did not make things worse so at least that's nice.

[2020-06-11 20:51] rousik opened #422 "Freshness indicators"
Add section to each page that tells - first published on XXX and last update on XXX.

[2020-06-11 20:55] rousik opened #423 "Integrate more resources about what the flattenthecurve effort is"
Visualizations and back stories about what it actually means to flattenthecurve to explain the effort.

[2020-08-24 05:08] jmcmurry opened #426 "add info about mis-c and long covid"
https://www.cdc.gov/mis-c/hcp/
long covid

[2020-08-24 05:12] jmcmurry opened #427 "fix PR 408"
https://github.com/flattenthecurve/guide/pull/408

Evidence to date is more than adequate evidence to warrant continued vigilance. - please rephrase.

The second sentence is rather long and complex and might benefit from breaking up.

Especially the last bit is hard to comprehend: and to ensure that the pandemic proceeds slowly so that we can avoid surpassing the number of infections required to g

[2020-09-11 17:14] #372 closed